/* Screen Widths */
/* National Focus Specific */
/* Mixin to specify the required number of grid rows so that IE doesn't shit itself if it needs to stack */
.sidebar-menu {
  background: #333333;
  width: 65px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999; }
  @media screen and (min-width: 720px) {
    .sidebar-menu {
      width: 230px; } }
  .sidebar-menu .toggle_menu {
    background: #1b93e1;
    color: #fff;
    padding: 0.5rem 0;
    font-size: 1.5rem;
    cursor: pointer; }
    .sidebar-menu .toggle_menu .fa {
      display: block; }
  .sidebar-menu nav a {
    text-decoration: none;
    color: #fff; }
  .sidebar-menu nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px; }
    .sidebar-menu nav > ul li {
      text-decoration: none;
      color: #fff;
      position: relative;
      margin: 0;
      border-bottom: 1px ridge rgba(255, 255, 255, 0.04);
      padding: 0.5rem 1rem;
      transition: 0.2s ease-in-out;
      display: flex;
      cursor: pointer; }
      .sidebar-menu nav > ul li i, .sidebar-menu nav > ul li .avatar {
        margin-right: 1.5rem;
        font-size: 1.25rem;
        margin-top: 0.15rem; }
        @media screen and (max-width: 720px) {
          .sidebar-menu nav > ul li i, .sidebar-menu nav > ul li .avatar {
            margin: 0 auto; } }
      .sidebar-menu nav > ul li .notifications {
        background: #1b93e1;
        padding: 0 7px;
        border-radius: 15px; }
      .sidebar-menu nav > ul li > ul {
        position: absolute;
        left: 100%;
        background: #333333;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        top: -1px;
        margin: 0;
        padding: 0;
        display: none;
        min-width: 200px; }
      .sidebar-menu nav > ul li:hover {
        background: #1b93e1; }
        .sidebar-menu nav > ul li:hover > ul {
          display: block; }
  .sidebar-menu nav span {
    display: none; }
    @media screen and (min-width: 720px) {
      .sidebar-menu nav span {
        display: inline; } }
  .sidebar-menu nav .avatar img {
    width: 1.25rem; }

.menu_toggled .sidebar-menu {
  width: 100%;
  max-width: 230px; }
  @media screen and (min-width: 720px) {
    .menu_toggled .sidebar-menu {
      width: 65px; } }
  .menu_toggled .sidebar-menu nav span {
    display: inline; }
    @media screen and (min-width: 720px) {
      .menu_toggled .sidebar-menu nav span {
        display: none; } }
  .menu_toggled .sidebar-menu nav li > i, .menu_toggled .sidebar-menu nav li > .avatar {
    margin-right: 1.5rem;
    font-size: 1.25rem;
    margin-top: 0.15rem;
    margin-left: 0; }
    @media screen and (min-width: 720px) {
      .menu_toggled .sidebar-menu nav li > i, .menu_toggled .sidebar-menu nav li > .avatar {
        margin: 0 auto; } }

.header-main {
  background: #ffffff;
  border-bottom: 2px solid #1b93e1;
  margin-bottom: 1rem;
  padding: 1rem;
  text-align: center; }

.popup_message {
  position: fixed;
  top: 0;
  right: 30px;
  width: calc(100% - 125px);
  padding: 5px 10px;
  color: #fff;
  z-index: 9999999; }
  @media screen and (min-width: 720px) {
    .popup_message {
      width: calc(100% - 290px); } }
  .popup_message.success {
    background: #27ae60; }
  .popup_message.error {
    background: #c0392b; }
  .popup_message.info {
    background: #1b93e1; }

.clickToDismiss {
  cursor: pointer; }

.menu_toggled .popup_message {
  width: calc(100% - 290px); }
  @media screen and (min-width: 720px) {
    .menu_toggled .popup_message {
      width: calc(100% - 125px); } }

.page > .content {
  width: calc(100% - 70px);
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background: #ECF0F1;
  overflow-y: scroll; }
  .page > .content.focus-tree {
    background: #22211d;
    overflow-x: scroll; }
  .page > .content > .container {
    padding: 1rem; }
  @media screen and (min-width: 720px) {
    .page > .content {
      width: calc(100% - 235px); } }

.menu_toggled .content {
  width: calc(100% - 235px); }
  @media screen and (min-width: 720px) {
    .menu_toggled .content {
      width: calc(100% - 70px); } }

.body-main {
  background: #ffffff;
  border-bottom: 2px solid #1b93e1;
  padding: 1rem;
  margin-bottom: 0.5rem; }
  .body-main small {
    display: inline-block;
    line-height: 1.25; }
  .body-main.content-left {
    display: flex; }
    .body-main.content-left .left {
      width: 74.5%; }
    .body-main.content-left .right {
      width: 24.5%;
      margin-left: 1%; }
    @media screen and (max-width: 720px) {
      .body-main.content-left {
        flex-wrap: wrap; }
        .body-main.content-left .left {
          width: 100%; }
        .body-main.content-left .right {
          width: 100%;
          margin-left: 0; } }
  .body-main.content-right {
    display: flex; }
    .body-main.content-right .right {
      width: 74.5%; }
    .body-main.content-right .left {
      width: 24.5%;
      margin-right: 1%; }
    @media screen and (max-width: 720px) {
      .body-main.content-right {
        flex-wrap: wrap; }
        .body-main.content-right .right {
          width: 100%; }
        .body-main.content-right .left {
          width: 100%;
          margin-right: 0; } }

.quickedit {
  color: #1b93e1; }

.stepped .step {
  display: none; }

.stepped .stepper {
  display: flex; }
  .stepped .stepper > * {
    cursor: pointer;
    text-align: center;
    transition: 0.2s ease-in-out; }
  .stepped .stepper .prev {
    width: 49%;
    background: #ECF0F1;
    color: #333333;
    border: 3px solid #333333;
    margin-right: 2%; }
    .stepped .stepper .prev:hover {
      background: #333333;
      color: #ECF0F1; }
  .stepped .stepper .next {
    width: 49%;
    color: #1b93e1;
    border: 3px solid #1b93e1; }
    .stepped .stepper .next:hover {
      background: #1b93e1;
      color: #fff; }

.stepped[data-step="1"] .step_1 {
  display: block; }

.stepped[data-step="1"] .prev {
  opacity: 0; }

.stepped[data-is-last="1"] .next {
  opacity: 0; }

.stepped .hidden_step {
  display: none; }

.generic_button {
  border: 3px solid #1b93e1;
  color: #1b93e1;
  display: inline-block;
  max-width: 150px;
  width: 100%;
  text-align: center;
  padding: 10px 15px;
  transition: 0.2s ease-in-out; }
  .generic_button:after {
    display: none; }
  .generic_button:hover {
    text-decoration: none;
    background: #1b93e1;
    color: #fff; }
  .generic_button.red {
    border-color: red;
    color: red;
    width: auto; }
    .generic_button.red:hover {
      color: white;
      background: red; }
  .generic_button.delete {
    padding-right: 22px; }

.generic_form textarea, .generic_form select, .generic_form input {
  width: 100%; }

.generic_form select {
  padding: 5px; }

.generic_form textarea {
  min-height: 3rem;
  max-width: 100%;
  box-sizing: border-box; }

.generic_form input {
  padding: 0.25rem;
  box-sizing: border-box; }

.generic_form input[type="color"] {
  width: 40px;
  padding: 0;
  display: inline-block;
  margin-right: 10px; }

.colour-viewer {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  vertical-align: bottom; }

.newLayers > div {
  border-top: 1px solid black; }

.grid {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
  /* Because IE is a butt */ }
  .grid.with-gap {
    grid-gap: 20px;
    /* Simulate grid gap for IE */ }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      .grid.with-gap > * {
        margin-left: 10px;
        margin-right: 10px; }
        .grid.with-gap > *:first-child {
          margin-left: 0; }
        .grid.with-gap > *:last-child {
          margin-right: 0; }
      .grid.with-gap.invert > * {
        margin-left: 10px;
        margin-right: 10px; }
        .grid.with-gap.invert > *:first-child {
          margin-right: 0; }
        .grid.with-gap.invert > *:last-child {
          margin-left: 0; } }
  .grid .grid_start_1 {
    grid-column: 1;
    -ms-grid-column: 1;
    grid-row: 1;
    -ms-grid-row: 1; }
  .grid .grid_start_2 {
    grid-column: 2;
    -ms-grid-column: 2;
    grid-row: 1;
    -ms-grid-row: 1; }
  .grid .grid_start_3 {
    grid-column: 3;
    -ms-grid-column: 3;
    grid-row: 1;
    -ms-grid-row: 1; }
  .grid .grid_start_4 {
    grid-column: 4;
    -ms-grid-column: 4;
    grid-row: 1;
    -ms-grid-row: 1; }
  .grid .grid_start_5 {
    grid-column: 5;
    -ms-grid-column: 5;
    grid-row: 1;
    -ms-grid-row: 1; }
  .grid .grid_start_6 {
    grid-column: 6;
    -ms-grid-column: 6;
    grid-row: 1;
    -ms-grid-row: 1; }
  .grid .grid_start_7 {
    grid-column: 7;
    -ms-grid-column: 7;
    grid-row: 1;
    -ms-grid-row: 1; }
  .grid .grid_start_8 {
    grid-column: 8;
    -ms-grid-column: 8;
    grid-row: 1;
    -ms-grid-row: 1; }
  .grid .grid_start_9 {
    grid-column: 9;
    -ms-grid-column: 9;
    grid-row: 1;
    -ms-grid-row: 1; }
  .grid .grid_start_10 {
    grid-column: 10;
    -ms-grid-column: 10;
    grid-row: 1;
    -ms-grid-row: 1; }
  .grid .grid_start_11 {
    grid-column: 11;
    -ms-grid-column: 11;
    grid-row: 1;
    -ms-grid-row: 1; }
  .grid .grid_span_1 {
    -ms-grid-column-span: 1;
    grid-column-end: span 1; }
  .grid .grid_span_2 {
    -ms-grid-column-span: 2;
    grid-column-end: span 2; }
  .grid .grid_span_3 {
    -ms-grid-column-span: 3;
    grid-column-end: span 3; }
  .grid .grid_span_4 {
    -ms-grid-column-span: 4;
    grid-column-end: span 4; }
  .grid .grid_span_5 {
    -ms-grid-column-span: 5;
    grid-column-end: span 5; }
  .grid .grid_span_6 {
    -ms-grid-column-span: 6;
    grid-column-end: span 6; }
  .grid .grid_span_7 {
    -ms-grid-column-span: 7;
    grid-column-end: span 7; }
  .grid .grid_span_8 {
    -ms-grid-column-span: 8;
    grid-column-end: span 8; }
  .grid .grid_span_9 {
    -ms-grid-column-span: 9;
    grid-column-end: span 9; }
  .grid .grid_span_10 {
    -ms-grid-column-span: 10;
    grid-column-end: span 10; }
  .grid .grid_span_11 {
    -ms-grid-column-span: 11;
    grid-column-end: span 11; }

.flag-selector {
  display: inline-block; }
  .flag-selector input {
    display: none; }
    .flag-selector input:checked ~ img {
      background: #1b93e1;
      border-color: #1675b3; }
  .flag-selector img {
    border: 1px solid #333333; }

.searched_states {
  cursor: pointer; }

.colour-picker {
  display: flex;
  margin-bottom: 20px; }
  .colour-picker .sliders {
    width: 100%;
    margin-right: 20px; }
    .colour-picker .sliders .ui-slider {
      border: 1px solid #333333;
      background: transparent;
      border-radius: 0; }
      .colour-picker .sliders .ui-slider + .ui-slider {
        margin-top: 10px; }
    .colour-picker .sliders .ui-slider-handle {
      background: #333333; }
    .colour-picker .sliders .ui-slider-range {
      border-radius: 0; }
  .colour-picker #swatch {
    width: 60px;
    height: 60px;
    background-image: none;
    border-radius: 0;
    border-color: #333333; }
  .colour-picker #red .ui-slider-range {
    background: #ef2929; }
  .colour-picker #red .ui-slider-handle {
    border-color: #ef2929; }
  .colour-picker #green .ui-slider-range {
    background: #8ae234; }
  .colour-picker #green .ui-slider-handle {
    border-color: #8ae234; }
  .colour-picker #blue .ui-slider-range {
    background: #729fcf; }
  .colour-picker #blue .ui-slider-handle {
    border-color: #729fcf; }
  .colour-picker + input {
    display: none; }

.map-wrapper {
  position: fixed;
  top: 0;
  display: none;
  z-index: 100;
  height: 100%;
  overflow: auto;
  background: #e6f3fc;
  width: calc(100% - 65px);
  left: 65px; }
  @media screen and (min-width: 720px) {
    .map-wrapper {
      width: calc(100% - 230px);
      left: 230px; } }
  .map-wrapper .close {
    position: fixed;
    top: 10px;
    right: 20px;
    font-size: 1.5rem;
    color: #1b93e1;
    cursor: pointer; }
  .map-wrapper svg {
    width: auto;
    height: 100%; }
  .map-wrapper g[id*="state"] {
    transition: 0.2s ease-in-out;
    cursor: pointer;
    position: relative;
    opacity: 0.25; }
    .map-wrapper g[id*="state"]:hover {
      opacity: 0.1; }
    .map-wrapper g[id*="state"][data-core-state="true"] {
      opacity: 0.75; }
    .map-wrapper g[id*="state"][data-control-state="true"] {
      opacity: 1; }
  .map-wrapper .zoom-options {
    position: fixed;
    bottom: 25px;
    right: 25px; }
    .map-wrapper .zoom-options div {
      display: flex;
      width: 30px;
      height: 30px;
      align-items: center;
      justify-content: center;
      background: #ffffff;
      cursor: pointer;
      transition: 0.2s ease-in-out; }
      .map-wrapper .zoom-options div:hover {
        color: #ffffff;
        background: #1b93e1; }
  .map-wrapper .map-hide {
    position: fixed;
    top: 40px;
    right: 20px;
    width: 220px;
    min-height: 30px;
    border: none;
    background: #ffffff;
    color: #1b93e1;
    padding: 5px 10px;
    z-index: 200;
    border: 1px #1b93e1 solid; }
  .map-wrapper #map-reshow {
    position: fixed;
    top: 70px;
    right: 20px;
    width: 242px;
    display: inline-block; }
  .map-wrapper .map-inner {
    width: 100%;
    height: 100%;
    overflow: auto; }
  .map-wrapper .all-states {
    display: none; }
  .map-wrapper .state-overview {
    position: fixed;
    top: 108px;
    right: 20px;
    z-index: 5;
    width: 350px;
    background: #ffffff;
    display: none; }
    .map-wrapper .state-overview .close {
      position: absolute;
      top: 15px;
      right: 15px;
      color: #ffffff;
      cursor: pointer; }
      .map-wrapper .state-overview .close i {
        cursor: pointer; }
    .map-wrapper .state-overview .state-name {
      text-align: center;
      color: #ffffff;
      background: #1b93e1;
      padding: 15px 20px; }
    .map-wrapper .state-overview .state-info {
      padding-top: 30px; }
      .map-wrapper .state-overview .state-info .wrapper {
        display: flex;
        padding: 0 15px;
        cursor: pointer; }
        .map-wrapper .state-overview .state-info .wrapper .checkbox {
          width: 20px;
          height: 20px;
          border: 1px solid #1b93e1;
          margin-right: 15px; }
          .map-wrapper .state-overview .state-info .wrapper .checkbox.active {
            background: #1b93e1; }
      .map-wrapper .state-overview .state-info .generic_button {
        background: none;
        border-left: 0;
        border-right: 0; }
        .map-wrapper .state-overview .state-info .generic_button:hover {
          background: #1b93e1; }
    .map-wrapper .state-overview .state-buttons {
      display: flex; }
      .map-wrapper .state-overview .state-buttons button {
        width: 50%;
        background: #1b93e1;
        margin: 0;
        padding: 15px;
        color: #ffffff;
        text-align: center;
        display: inline-block;
        border: none;
        transition: 0.2s ease-in-out;
        font-size: 12px; }
        .map-wrapper .state-overview .state-buttons button:hover {
          background: #ffffff;
          color: #1b93e1; }
        .map-wrapper .state-overview .state-buttons button + button {
          border-left: 1px solid #ffffff; }

.menu_toggled .map-wrapper {
  width: calc(100% - 230px);
  left: 230px; }
  @media screen and (min-width: 720px) {
    .menu_toggled .map-wrapper {
      width: calc(100% - 65px);
      left: 65px; } }

.custom-upload-wrapper {
  margin: 20px;
  padding: 20px;
  border: 1px solid #1b93e1; }

.custom-image-divider {
  width: 100%;
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 1px;
  background: #1b93e1; }
  .custom-image-divider:before, .custom-image-divider:after {
    position: absolute;
    left: 50%;
    width: 210px;
    text-align: center;
    z-index: 2;
    padding: 5px;
    background: white; }
  .custom-image-divider:before {
    transform: translateX(-50%) translateY(-30px);
    content: 'All of your custom images'; }
  .custom-image-divider:after {
    transform: translateX(-50%) translateY(-2px);
    content: 'Resized to required size';
    font-size: 12px; }

.user-info {
  display: flex;
  border-bottom: 1px solid #333333;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem; }
  .user-info .image {
    width: 200px;
    margin-right: 1rem; }
    .user-info .image img {
      width: 100%; }
  .user-info .info {
    width: calc(100% - 250px); }
  @media screen and (max-width: 720px) {
    .user-info {
      flex-wrap: wrap; }
      .user-info .image {
        width: 100%;
        margin-right: 0; }
        .user-info .image img {
          display: block;
          max-width: 150px;
          margin: 0 auto; }
      .user-info .info {
        text-align: center;
        width: 100%; } }

.user-mods h2 {
  position: relative;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem; }
  .user-mods h2:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 4rem;
    height: 1px;
    background: #333333; }

.user-mods .mod a {
  display: flex;
  border-bottom: 1px solid #333333;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem; }
  .user-mods .mod a .image {
    width: 150px;
    margin-right: 1rem; }
    .user-mods .mod a .image img {
      width: 100%; }
  @media screen and (max-width: 720px) {
    .user-mods .mod a {
      flex-wrap: wrap; }
      .user-mods .mod a .image {
        width: 100%;
        margin-right: 0; }
        .user-mods .mod a .image img {
          display: block;
          max-width: 150px;
          margin: 0 auto; }
      .user-mods .mod a .content {
        text-align: center;
        width: 100%; } }

.login, .register, .forgot-password {
  max-width: 800px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); }
  .login header, .register header, .forgot-password header {
    background: #1b93e1;
    color: #ffffff;
    padding: 1rem;
    text-align: center; }
    .login header h1, .register header h1, .forgot-password header h1 {
      font-size: 1.5rem; }
  .login section, .register section, .forgot-password section {
    padding: 1rem; }
    .login section input[type="text"], .login section input[type="email"], .login section input[type="password"], .register section input[type="text"], .register section input[type="email"], .register section input[type="password"], .forgot-password section input[type="text"], .forgot-password section input[type="email"], .forgot-password section input[type="password"] {
      width: 100%;
      padding: 0.5rem;
      border: 1px solid #333333;
      margin-bottom: 0.5rem;
      transition: 0.2s ease-in-out;
      box-sizing: border-box; }
      .login section input[type="text"]:focus, .login section input[type="email"]:focus, .login section input[type="password"]:focus, .register section input[type="text"]:focus, .register section input[type="email"]:focus, .register section input[type="password"]:focus, .forgot-password section input[type="text"]:focus, .forgot-password section input[type="email"]:focus, .forgot-password section input[type="password"]:focus {
        outline: none;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); }
    .login section button, .register section button, .forgot-password section button {
      margin-top: 1rem;
      width: 100%;
      display: block;
      padding: 1rem;
      background: #1b93e1;
      color: #ffffff;
      border: 1px solid #1884ca;
      transition: 0.2s ease-in-out;
      font-size: 1rem;
      box-sizing: border-box; }
      .login section button:hover, .register section button:hover, .forgot-password section button:hover {
        background: #1884ca;
        border: 1px solid #1675b3;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); }
    .login section .forgot-password, .register section .forgot-password, .forgot-password section .forgot-password {
      display: block;
      width: calc(100% - 1rem);
      margin-top: 0.5rem;
      padding: 0.5rem;
      background: #333333;
      color: #ffffff;
      text-align: center;
      transition: 0.2s ease-in-out;
      text-decoration: none; }
      .login section .forgot-password:hover, .register section .forgot-password:hover, .forgot-password section .forgot-password:hover {
        text-decoration: none;
        background: #4d4d4d;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); }

.tab {
  display: inline-block;
  border: 1px solid #333333;
  background: #ffffff;
  padding: 0.5rem 1rem;
  transition: 0.2s ease-in-out;
  color: #333333;
  cursor: pointer; }
  .tab.active {
    background: #333333;
    color: #ffffff; }
  .tab:hover {
    color: #ffffff;
    background: #1b93e1; }
  .tabbed {
    display: none; }
    .tabbed.active {
      display: block; }

.mod-info {
  display: flex;
  border-bottom: 1px solid #333333;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem; }
  .mod-info .image {
    width: 200px;
    margin-right: 1rem; }
    .mod-info .image img {
      width: 100%; }
  .mod-info .info {
    width: calc(100% - 250px); }
  @media screen and (max-width: 720px) {
    .mod-info {
      flex-wrap: wrap; }
      .mod-info .image {
        width: 100%;
        margin-right: 0; }
        .mod-info .image img {
          display: block;
          max-width: 150px;
          margin: 0 auto; }
      .mod-info .info {
        text-align: center;
        width: 100%; } }

.response_frame {
  display: none; }

.add_user_popup {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: 0.2s ease-in-out;
  background: rgba(0, 0, 0, 0.25);
  align-items: center;
  z-index: 999;
  pointer-events: none; }
  .add_user_popup * {
    pointer-events: none; }
  .add_user_popup.active {
    opacity: 1;
    pointer-events: initial; }
    .add_user_popup.active * {
      pointer-events: initial; }
  .add_user_popup .add_user_box {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 25px;
    background: #fff;
    max-height: 70vh;
    overflow: auto; }
  .add_user_popup .users_output {
    max-height: 150px;
    overflow-y: scroll; }
  .add_user_popup .popupClose {
    text-align: right;
    cursor: pointer;
    margin: 0;
    margin-bottom: -1rem;
    font-size: 1.25rem; }
  .add_user_popup h3 {
    margin: 0;
    margin-bottom: 0.5rem; }
  .add_user_popup input {
    width: 100%;
    height: 30px;
    box-sizing: border-box; }

.addUserToMod, .deleteMod {
  cursor: pointer;
  color: #fff;
  border: 2px solid transparent;
  outline: 0;
  padding: 10px 20px;
  transition: 0.2s ease-in-out;
  display: block;
  max-width: 450px;
  width: 100%;
  margin-top: 15px; }

.generic_button {
  padding: 10px 20px;
  max-width: 450px;
  margin-top: 15px;
  /* display: block; */
  box-sizing: border-box; }

.addUserToMod {
  background: #16a085; }
  .addUserToMod:hover {
    background: transparent;
    border: 2px solid #16a085;
    color: #16a085; }

.deleteMod {
  background: #c0392b; }
  .deleteMod:hover {
    background: transparent;
    border: 2px solid #c0392b;
    color: #c0392b; }

.modlist .mod {
  display: flex;
  margin-bottom: 35px; }
  .modlist .mod .image {
    width: 80px; }
    .modlist .mod .image img {
      width: 100%; }
  .modlist .mod .info {
    width: calc(100% - 90px);
    margin-left: 10px;
    word-break: break-all; }
    .modlist .mod .info h3 {
      margin: 0; }

input.mod-edit, textarea.mod-edit, button.mod-edit, .wrapper.mod-edit {
  display: none; }

.mod-countries .country-wrapper {
  display: none; }

.focus-user-edit {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: #ffffff;
  background: #1b93e1;
  border-radius: 1rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  text-decoration: none;
  transition: 0.2s ease-in-out; }
  .focus-user-edit:hover {
    background: #1884ca; }

.focus-content {
  position: absolute;
  width: 120px;
  text-align: center; }
  .focus-content:hover .focus-description {
    display: block; }
  .focus-content img {
    height: 80px; }
  .focus-content.ui-selected {
    opacity: 0.75; }

.focus-image {
  max-height: 70px;
  margin-bottom: -0.5rem;
  margin-top: -0.5rem; }

.focus-title {
  width: 100%;
  padding: 0.25rem 0.5rem;
  color: #ffffff;
  background: #2d2220;
  border: 1px solid #333333;
  border-radius: 5px;
  text-align: center;
  margin-left: -0.5rem;
  margin-top: -1rem; }

.focus-description {
  display: none;
  background: #2d2220;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  position: absolute;
  top: 1.5rem;
  left: 75%;
  padding: 0.5rem 1rem;
  width: 200px;
  text-align: left;
  z-index: 2; }

.focus-json {
  display: none; }

.focus-prerequisite {
  position: absolute;
  border-left: 1px solid white;
  border-right: 1px solid white;
  z-index: -1; }
  .focus-prerequisite.horizontal {
    border-top: 1px solid white;
    border-bottom: 1px solid white; }
    .focus-prerequisite.horizontal.or {
      border-top: 1px dashed white;
      border-bottom: 1px dashed white; }
  .focus-prerequisite.or {
    border-left: 1px dashed white;
    border-right: 1px dashed white; }
  .focus-prerequisite.mutual {
    border-left: 1px solid red;
    border-right: 1px solid red;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    margin-top: -120px; }

.focus-panel {
  width: 100%;
  max-width: 400px;
  height: 100vh;
  overflow-y: scroll;
  margin-right: 10px; }
  .focus-panel.create-focus {
    width: 300px;
    position: absolute;
    left: calc(50% - 150px);
    top: 10vh;
    height: 80vh; }
  .focus-panel .panel-head {
    background: #1b93e1;
    color: #ffffff;
    padding: 0.5rem;
    text-align: center;
    font-size: 1.25rem;
    position: relative; }
    .focus-panel .panel-head .close {
      position: absolute;
      top: 0.5rem;
      right: 1rem;
      font-size: 1.5rem;
      color: #fff;
      cursor: pointer; }
  .focus-panel .panel-body {
    background: #ffffff;
    padding: 0.5rem;
    min-height: 100%; }
    .focus-panel .panel-body p {
      margin: 0; }
  .focus-panel #choosegfx {
    display: none; }
    .focus-panel #choosegfx .nficon {
      width: 80px; }
  .focus-panel#focus-builder .panel-body .builder-output {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding-right: 5px;
    margin-right: 5px; }
    .focus-panel#focus-builder .panel-body .builder-output .dragged {
      width: 100%;
      border: 1px dashed #1b93e1;
      min-height: 100px;
      transition: 0.2s ease-in-out; }
      .focus-panel#focus-builder .panel-body .builder-output .dragged-hover {
        border: 1px solid #1b93e1;
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.2);
        transition: 0.2s ease-in-out; }
      .focus-panel#focus-builder .panel-body .builder-output .dragged.new-level {
        min-height: 50px;
        border: 1px dashed #1b93e1;
        margin: 10px;
        width: calc(100% - 20px); }
      .focus-panel#focus-builder .panel-body .builder-output .dragged .choose-country, .focus-panel#focus-builder .panel-body .builder-output .dragged .choose-state {
        cursor: pointer;
        color: #1b93e1; }
  .focus-panel#focus-builder .panel-body .builder-search .default-outcome {
    display: none; }
  .focus-panel#focus-builder .panel-body .builder-search .search-result {
    border-bottom: 1px solid #333333;
    margin-bottom: 5px;
    padding-bottom: 5px;
    cursor: pointer; }
  .focus-panel#focus-builder .panel-body .builder-search .builder-example {
    display: none;
    position: relative;
    margin-top: 5px;
    padding-top: 5px;
    cursor: pointer;
    max-height: 150px;
    overflow: auto; }
    .focus-panel#focus-builder .panel-body .builder-search .builder-example:before {
      content: '';
      background: #333333;
      width: 50px;
      top: 0;
      left: 0;
      height: 1px;
      position: absolute; }
  .focus-panel input, .focus-panel textarea, .focus-panel select {
    width: calc(100% - 0.5rem);
    padding: 0.25rem;
    box-sizing: border-box; }
    .focus-panel input#x, .focus-panel input#y, .focus-panel textarea#x, .focus-panel textarea#y, .focus-panel select#x, .focus-panel select#y {
      width: 3rem; }
  .focus-panel textarea {
    height: 80px; }

.focus-popup-container {
  position: absolute;
  pointer-events: none;
  z-index: 999;
  width: calc(100vw - 235px);
  height: 100vh;
  display: flex;
  top: 0;
  right: 0; }
  @media screen and (max-width: 720px) {
    .focus-popup-container {
      width: calc(100vw - 70px); } }
  .focus-popup-container * {
    pointer-events: auto; }
  .focus-popup-container .focus-panel {
    display: none; }

.edit-focus {
  background: #1b93e1;
  color: #ffffff;
  padding: 0.25rem 1rem;
  width: 100%;
  margin: 0 -1rem;
  margin-bottom: 1rem;
  display: inline-block;
  text-align: center;
  cursor: pointer; }

.menu_toggled .focus-popup-container {
  width: calc(100vw - 70px); }
  @media screen and (max-width: 720px) {
    .menu_toggled .focus-popup-container {
      width: calc(100vw - 235px); } }

.create-focus textarea, .create-focus select, .create-focus input {
  width: 100%; }

.create-focus select {
  padding: 5px; }

.create-focus textarea {
  min-height: 3rem;
  max-width: 100%;
  box-sizing: border-box; }

.create-focus .generic_button {
  max-width: 100%; }

.focus-tree .add_user_popup {
  position: static;
  background: transparent; }

.focus-tree {
  z-index: -2; }

.select-focus {
  cursor: pointer; }

.addedFocus input {
  display: none; }

.addedFocus i {
  color: red;
  cursor: pointer; }

.focus-tree-raw {
  overflow: auto;
  background: #FFFFFF;
  padding: 20px;
  max-width: 500px;
  white-space: pre-wrap;
  max-height: calc(100vh - 40px);
  margin-right: 15px; }
  .focus-tree-raw-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh; }
  .focus-tree-raw .focus-error, .focus-tree-raw .focus-error-end {
    color: #c0392b;
    font-weight: bold;
    display: block; }
  .focus-tree-raw.closed {
    display: none; }

.focus-tree-raw-toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  padding: 5px 30px;
  left: -50px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  cursor: pointer;
  background: white; }
  .focus-tree-raw-toggle .errors {
    position: absolute;
    background: #c0392b;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    top: -10px;
    right: -10px;
    transform: rotate(90deg); }
    .focus-tree-raw-toggle .errors:after, .focus-tree-raw-toggle .errors:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      border: 1px solid #c0392b;
      width: 30px;
      height: 30px;
      transform: translateX(-50%) translateY(-50%);
      border-radius: 50%;
      animation: makeObvious 3s infinite; }
    .focus-tree-raw-toggle .errors:before {
      animation-delay: 1.5s; }
  .focus-tree-raw-toggle i {
    display: inline-block;
    transform: rotate(180deg); }

.closed ~ .focus-tree-raw-toggle {
  left: -70px; }
  .closed ~ .focus-tree-raw-toggle i {
    transform: none; }

.focus-tree-raw-preview {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0; }
  .focus-tree-raw-preview > * {
    width: 100%; }
  .focus-tree-raw-preview .preview-inner {
    order: 2; }
  .focus-tree-raw-preview .focus-error {
    order: 1; }
    .focus-tree-raw-preview .focus-error-end {
      order: 3; }

@keyframes makeObvious {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1; }
  80% {
    width: 50px;
    height: 50px;
    opacity: 0.2; }
  100% {
    width: 150px;
    height: 150px;
    opacity: 0; } }

.focus-panel .panel-body .focus_tree_tags {
  cursor: pointer;
  position: relative; }
  .focus-panel .panel-body .focus_tree_tags + .focus_tree_tags {
    margin-top: 10px;
    padding-top: 10px; }
    .focus-panel .panel-body .focus_tree_tags + .focus_tree_tags:before {
      content: '';
      position: absolute;
      width: 50%;
      top: 0;
      left: 0;
      height: 1px;
      background: #1b93e1; }

.event-json {
  display: none; }

.event-country {
  display: inline-flex;
  max-width: 400px;
  width: 100%;
  padding: 10px 25px;
  border: 1px solid #333333;
  border-radius: 5px;
  background: #F8ECC2;
  vertical-align: top;
  margin-left: 25px; }
  .event-country .event-gfx {
    width: 33%;
    margin-left: -50px;
    margin-right: 50px; }
    .event-country .event-gfx img {
      width: 100%; }
  .event-country .event-content {
    width: 67%; }
    .event-country .event-content .event-title {
      color: #333333;
      font-size: 1.5rem; }

.event-wrapper {
  margin-bottom: 5px; }

.event-news {
  padding: 10px 25px;
  border: 1px solid #333333;
  border-radius: 5px;
  background: #F8ECC2;
  max-width: 400px;
  width: 100%;
  display: inline-block;
  vertical-align: top; }
  .event-news .event-gfx img {
    width: 100%; }
  .event-news .event-title {
    text-align: center;
    font-size: 1.5rem;
    color: #333333; }
  .event-news .event-description {
    color: #333333; }

.event-outcome-trigger {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff;
  padding: 10px;
  z-index: 10; }

.event-outcome, .event-outcome-add {
  position: relative;
  background: #ECF0F1;
  border-radius: 5px;
  padding: 10px 25px;
  margin-top: 10px;
  border: 1px solid #333333;
  cursor: pointer;
  text-align: center; }
  .event-outcome:hover .event-outcome-trigger, .event-outcome-add:hover .event-outcome-trigger {
    display: block; }

.outcome_json {
  display: none; }

.event-delete, .event-edit {
  width: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  height: 24px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  font-size: 16px;
  transition: 0.2s ease-in-out;
  justify-content: center;
  cursor: pointer; }

.event-delete {
  background: red;
  max-width: 24px;
  z-index: 3; }

.event-edit {
  background: #1b93e1;
  z-index: 2; }

.event-outcome:hover {
  overflow: hidden; }
  .event-outcome:hover .event-delete, .event-outcome:hover .event-edit {
    width: 100%; }

.event-wrapper > .event-delete, .event-wrapper > .event-edit {
  height: 36px;
  font-size: 24px; }

.event-wrapper > .event-delete {
  max-width: 36px; }

.event-wrapper:hover > .event-delete, .event-wrapper:hover > .event-edit {
  width: 100%; }

.event-wrapper {
  position: relative; }

.forum-block {
  background: #ffffff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  border: 1px solid #333333;
  transition: 0.2s ease-in-out;
  margin-bottom: 1rem;
  overflow: hidden; }
  .forum-block:hover {
    background: #f2f2f2;
    border-radius: 0 2rem 2rem 0; }
  .forum-block .header {
    background: #1b93e1;
    padding: 0.25rem;
    padding-right: 1.5rem; }
    .forum-block .header a {
      color: #ffffff; }
  .forum-block .description {
    padding: 0.25rem;
    padding-right: 1.5rem;
    color: #333333; }
    .forum-block .description.post {
      display: flex; }
      .forum-block .description.post .left {
        width: 80%; }
      .forum-block .description.post .right {
        width: 20%;
        color: #1b93e1;
        text-align: right; }
      @media screen and (max-width: 720px) {
        .forum-block .description.post {
          flex-wrap: wrap; }
          .forum-block .description.post .left {
            width: 100%; }
          .forum-block .description.post .right {
            width: 100%; } }
    .forum-block .description a {
      color: #333333;
      text-decoration: none; }

.forum-post {
  display: flex;
  background: white;
  margin-bottom: 0.5rem;
  position: relative; }
  .forum-post .user-info {
    width: 200px;
    border: none;
    border-right: 1px solid #333333;
    height: 100%;
    padding: 0.5rem;
    margin: 0;
    text-align: center;
    display: block; }
    .forum-post .user-info .post-avatar {
      max-width: 140px;
      display: block;
      width: 100%;
      height: auto;
      margin: 0 auto; }
    .forum-post .user-info .banned {
      color: red; }
  .forum-post .post-info {
    width: calc(100% - 200px);
    height: 100%;
    padding-bottom: 2rem; }
    .forum-post .post-info .post-title {
      background: #1b93e1;
      padding: 0.25rem;
      color: #ffffff;
      display: flex; }
      .forum-post .post-info .post-title h1 {
        font-size: 1.25rem;
        margin: 0;
        width: 75%; }
      .forum-post .post-info .post-title form {
        width: 75%; }
      .forum-post .post-info .post-title input {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #333333;
        margin-bottom: 0.5rem;
        transition: 0.2s ease-in-out;
        box-sizing: border-box;
        max-height: 2rem; }
        .forum-post .post-info .post-title input:focus {
          outline: none;
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); }
      .forum-post .post-info .post-title .post-options {
        width: 25%;
        text-align: right; }
        .forum-post .post-info .post-title .post-options a {
          background: #ffffff;
          color: #333333;
          border: 1px solid #333333;
          transition: 0.2s ease-in-out;
          padding: 0.2rem 0.75rem;
          margin-left: 0.2rem;
          display: inline-block;
          text-decoration: none; }
          .forum-post .post-info .post-title .post-options a:hover {
            background: #333333;
            color: #ffffff; }
      @media screen and (max-width: 720px) {
        .forum-post .post-info .post-title {
          flex-wrap: wrap; }
          .forum-post .post-info .post-title h1 {
            width: 100%; }
          .forum-post .post-info .post-title .post-options {
            width: 100%; } }
    .forum-post .post-info .post-content {
      padding: 1rem 0.25rem; }
    .forum-post .post-info .edit-post {
      background: #ffffff;
      color: #333333;
      border: 1px solid #333333;
      transition: 0.2s ease-in-out;
      padding: 0.2rem 0.75rem;
      margin-left: 0.2rem;
      display: inline-block;
      text-decoration: none; }
      .forum-post .post-info .edit-post:hover {
        background: #333333;
        color: #ffffff; }
      .forum-post .post-info .edit-post-button {
        text-align: right;
        margin-right: 1rem; }
        @media screen and (min-width: 720px) {
          .forum-post .post-info .edit-post-button {
            position: absolute;
            right: 2rem;
            bottom: 1rem;
            margin-right: 0; } }
  @media screen and (max-width: 720px) {
    .forum-post {
      flex-wrap: wrap; }
      .forum-post .user-info {
        order: 2;
        width: 100%;
        border-right: none;
        border-top: 1px solid #333333; }
      .forum-post .post-info {
        width: 100%; } }

.forum .post-pagination {
  text-align: right; }
  .forum .post-pagination .text, .forum .post-pagination .number {
    background: #ffffff;
    color: #333333;
    border: 1px solid #333333;
    transition: 0.2s ease-in-out;
    padding: 0.2rem 0.75rem;
    margin-left: 0.2rem;
    display: inline-block;
    text-decoration: none; }
    .forum .post-pagination .text:hover, .forum .post-pagination .number:hover {
      background: #333333;
      color: #ffffff; }
    .forum .post-pagination .text.active, .forum .post-pagination .number.active {
      background: #333333;
      color: #ffffff; }

.forum-post-title {
  margin-bottom: 0.5rem;
  background: #1b93e1;
  padding: 0.25rem;
  color: #ffffff; }
  .forum-post-title h1 {
    font-size: 1.25rem;
    margin: 0; }

.forum .breadcrumb {
  padding: 0.5rem;
  background: #333333;
  color: #ffffff;
  margin-top: -0.5rem;
  margin-bottom: 0.5rem; }
  .forum .breadcrumb a {
    color: #ffffff; }

.forum .post-comment {
  background: #ffffff; }
  .forum .post-comment .post-title p, .forum .post-comment .post-content p {
    margin: 0;
    padding: 0.5rem; }
  .forum .post-comment .post-title input, .forum .post-comment .post-content input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #333333;
    margin-bottom: 0.5rem;
    transition: 0.2s ease-in-out;
    box-sizing: border-box; }
    .forum .post-comment .post-title input:focus, .forum .post-comment .post-content input:focus {
      outline: none;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); }
  .forum .post-comment .trumbowyg-box {
    margin: 0 auto; }
  .forum .post-comment .trumbowyg-button-pane {
    background: #e6e6e6; }
  .forum .post-comment .trumbowyg-modal-box .trumbowyg-modal-submit {
    background: #1b93e1;
    color: #ffffff;
    transition: 0.2s ease-in-out; }
    .forum .post-comment .trumbowyg-modal-box .trumbowyg-modal-submit:hover {
      background: #1675b3; }
  .forum .post-comment .trumbowyg-modal-box .trumbowyg-modal-reset {
    background: #333333;
    color: #ffffff;
    transition: 0.2s ease-in-out; }
    .forum .post-comment .trumbowyg-modal-box .trumbowyg-modal-reset:hover {
      background: #1a1a1a; }
  .forum .post-comment .submit-post {
    background: #1b93e1;
    color: #ffffff;
    transition: 0.2s ease-in-out;
    border: none;
    display: block;
    padding: 0.5rem;
    width: 100%; }
    .forum .post-comment .submit-post:hover {
      background: #1675b3; }

.forum-category {
  background: #ffffff;
  border-bottom: 4px solid #1b93e1;
  color: #333333;
  padding: 0.5rem;
  margin-bottom: 0.5rem; }
  .forum-category h3 {
    margin: 0; }

.forum-header {
  margin: 0.5rem 0;
  border: 1px solid #333333;
  background: white;
  text-align: right;
  padding: 0.5rem; }
  .forum-header a {
    color: #1b93e1; }
    .forum-header a:visited {
      color: #1b93e1; }

.forum-category {
  border: 1px solid #ccc;
  margin-bottom: 20px; }
  .forum-category .mobile-header {
    display: none; }
  .forum-category-title {
    background: #1b93e1;
    color: #ffffff;
    font-size: 15px;
    padding: 3px 5px; }
    .forum-category-title a {
      color: #ffffff; }
  .forum-category-description {
    padding: 10px 0; }
  .forum-category-headers {
    background: #1675b3;
    color: #ffffff; }
    .forum-category-headers .grid > * {
      padding: 2px 5px;
      font-size: 14px;
      border-right: 1px solid #ccc; }
      .forum-category-headers .grid > *:last-child {
        border-right: 0; }
  .forum-category-forums > .grid {
    border-bottom: 1px solid #0d0d0d; }
    .forum-category-forums > .grid:last-child {
      border-bottom: 0; }
  .forum-category-forums .sub-forum-title {
    margin: 0;
    padding: 2px 5px;
    color: #1b93e1;
    font-weight: bold;
    margin-top: 5px; }
    .forum-category-forums .sub-forum-title a {
      color: #1b93e1; }
  .forum-category-forums .sub-forum-subtitle {
    margin: 0;
    padding: 2px 5px;
    color: #1b93e1;
    font-size: 14px; }
  .forum-category-forums .sub-forum-date {
    margin: 0;
    padding: 2px 5px;
    text-align: right;
    font-size: 12px; }
  .forum-category-forums .sub-forum-description {
    margin: 0;
    padding: 2px 5px;
    font-size: 14px; }
  .forum-category-forums .sub-forum-number {
    padding: 2px 5px;
    font-size: 14px;
    font-weight: bold; }
  .forum-category-forums > .grid > * {
    border-right: 1px solid #0d0d0d; }
    .forum-category-forums > .grid > *:last-child {
      border-right: 0; }
  .forum-category-forums .sub-forum-subforum {
    display: inline-block;
    color: #1b93e1;
    font-size: 12px;
    width: calc(50% - 10px);
    padding: 2px 5px;
    vertical-align: top; }
    .forum-category-forums .sub-forum-subforum_wrapper {
      font-size: 0; }
    .forum-category-forums .sub-forum-subforum small {
      display: inline;
      font-size: 10px;
      color: #ddd; }

@media screen and (max-width: 1100px) {
  .forum-category .mobile-header {
    display: block;
    width: 22.5%;
    margin-right: 1.25%;
    padding-right: 1.25%;
    border-right: 1px solid #0d0d0d;
    font-weight: 600; }
  .forum-category .grid {
    display: block;
    border-bottom: 1px solid #0d0d0d; }
    .forum-category .grid > * {
      display: flex;
      border-bottom: 1px solid #CCC;
      border-right: none; }
  .forum-category-headers {
    display: none; } }

@media screen and (max-width: 550px) {
  .forum-category .mobile-header {
    display: block;
    width: 100%;
    margin-right: 0;
    padding-right: 0;
    border-right: none;
    border-bottom: 1px solid #0d0d0d; }
  .forum-category .grid > * {
    flex-wrap: wrap;
    margin-bottom: 15px; }
    .forum-category .grid > *:last-child {
      margin-bottom: 0; } }

.country {
  border: 1px solid #22211d;
  border-bottom: 0; }
  .country.content.edit {
    height: calc(100vh - 1px);
    overflow: auto; }
  .country-header {
    display: flex;
    background: #22211d;
    height: 25px; }
  .country-flag {
    height: 52px;
    width: 82px;
    background: white;
    border: 5px solid #22211d;
    position: relative; }
    .country-flag:after {
      content: '';
      position: absolute;
      right: -35px;
      bottom: -5px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 38px 30px 0 0px;
      border-color: #22211d transparent transparent transparent; }
  .country-popup {
    background: #22211d;
    width: 100%;
    max-width: 500px;
    padding: 0 10px;
    position: relative;
    height: calc(100% - 125px);
    top: 35px;
    left: 0;
    overflow: auto;
    display: inline-block; }
    .country-popup .close-bar {
      text-align: right;
      color: white;
      font-size: 16px; }
    .country-popup .loader {
      color: white;
      font-size: 20px; }
  .country-leader {
    display: inline-block;
    width: 150px; }
    .country-leader .picture {
      width: 150px;
      height: 190px;
      background: white;
      cursor: pointer;
      background-position: center;
      background-repeat: no-repeat; }
    .country-leader .name {
      text-align: center;
      padding: 5px 10px;
      color: white;
      box-sizing: border-box;
      background: rgba(255, 255, 255, 0.1);
      border: 0;
      width: 100%; }
    .country-leader_side {
      display: inline-block;
      width: calc(100% - 160px);
      margin-left: 5px;
      vertical-align: top; }
      .country-leader_side .support {
        color: white; }
        .country-leader_side .support input {
          background: rgba(255, 255, 255, 0.1);
          width: auto;
          padding: 5px 10px;
          padding-left: 20px;
          text-align: center;
          border: none;
          color: white; }
  .country-focus {
    width: 100%;
    background: white;
    text-align: center;
    padding: 18px 0; }
  .country-spirits {
    width: 100%;
    background: white;
    text-align: center;
    padding: 18px 0;
    margin-top: 10px; }
  .country-tabs {
    display: flex; }
    .country-tabs + .country-tabs {
      border-top: 1px solid #333333; }
    .country-tabs .country-tab {
      width: 100%;
      padding: 5px;
      font-size: 14px;
      text-align: center;
      border-right: 1px solid #333333;
      cursor: pointer; }
      .country-tabs .country-tab:last-child {
        border-right: 0; }
      .country-tabs .country-tab:hover, .country-tabs .country-tab.active {
        background: #1b93e1;
        color: #ffffff; }
  .country-ideas > .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0; }
    .country-ideas > .row-label {
      color: #ffffff;
      padding: 5px 10px;
      margin-top: 10px;
      display: inline-block;
      border-bottom: 1px solid #ffffff; }
  .country-ideas-select {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between; }
  .country-idea {
    display: inline-flex;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-position: center;
    background-color: #ffffff;
    background-repeat: no-repeat;
    margin-right: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center; }
    .country-idea.economy {
      background-image: url("/media/get/hoi4/ideas/not_people/idea_civilian_economy.png"); }
    .country-idea.mobilization {
      background-image: url("/media/get/hoi4/ideas/not_people/idea_volunteer_only.png"); }
    .country-idea.trade {
      background-image: url("/media/get/hoi4/ideas/not_people/idea_generic_export_focus.png"); }
    .country-idea-icon {
      width: calc((100% / 6) - 6px);
      cursor: pointer; }
  .country-leaders {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start; }
  .country-leader-icon {
    width: 32%;
    cursor: pointer;
    margin-bottom: 10px; }

.country-ideas-info {
  display: flex; }
  .country-ideas-info .left {
    width: 70px; }
    .country-ideas-info .left .image {
      width: 100%;
      height: 70px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }

.country-extra-stuff {
  display: inline-block;
  max-width: calc(100% - 530px);
  margin-left: 4px;
  vertical-align: top;
  position: relative;
  top: 35px;
  width: 100%;
  height: calc(100% - 125px);
  overflow: auto; }

.country-box {
  background: white;
  padding: 5px 10px;
  max-height: 200px;
  overflow: auto; }
  .country-box + .country-box {
    margin-top: 10px; }

.country-save, .country-edit {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: #1b93e1;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
  cursor: pointer; }
  .country-save:hover, .country-edit:hover {
    background: white;
    color: #1b93e1; }

.removeState {
  color: red;
  cursor: pointer; }

.country-trait, .country-research {
  cursor: pointer; }
  .country-trait .effect textarea, .country-research .effect textarea {
    border: none;
    resize: none;
    cursor: pointer; }

#country-military .field-marshal {
  display: none; }

#country-military[data-type="ground"] .field-marshal {
  display: block; }

#country-military .navy-only {
  display: none; }

#country-military[data-type="navy"] .navy-only {
  display: inline; }
  #country-military[data-type="navy"] .navy-only + span {
    display: none; }

.general-icon {
  width: 35px; }

.readOnly .removeState {
  display: none; }

.readOnly .generic_button {
  display: none; }

.existing-idea {
  display: inline-block;
  width: 60px;
  height: 68px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  text-align: right; }
  .existing-idea i {
    cursor: pointer;
    color: red;
    display: inline-block;
    margin-right: 8px; }

.division-editor {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 900px;
  height: 100%;
  max-height: 700px;
  margin: 10px;
  transform: translateX(-50%) translateY(-50%);
  background: #ffffff;
  padding: 20px; }

.flag-steps .colour-picker {
  margin-bottom: 0; }

.flag-steps .generic_button {
  cursor: pointer; }

.flag-steps > form > div {
  display: none; }
  .flag-steps > form > div:nth-child(2) {
    display: block; }

.flag-steps > div {
  display: none; }

.flag-choice {
  display: flex;
  justify-content: space-between; }
  .flag-choice .generic_button {
    width: 31%; }

.flag-options {
  position: relative;
  font-size: 0; }
  .flag-options > label:first-child {
    font-size: 1rem; }
  .flag-options .flag-selector img {
    display: none; }
  .flag-options .flag-selector input:checked ~ img {
    display: block; }
  .flag-options:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .flag-options.active:after {
    pointer-events: none; }
  .flag-options.active .flag-selector img {
    display: block; }

.flag-build .copyable {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .flag-build .copyable > * {
    width: 100%; }
    .flag-build .copyable > *.flag-50 {
      width: calc(50% - 10px); }

#idea-popup .option-wrapper {
  display: none; }

.idea-wrapper {
  display: inline-block;
  width: 100%;
  background: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  position: relative; }
  @media screen and (min-width: 900px) {
    .idea-wrapper {
      max-width: 120px;
      margin-left: 15px; } }
  .idea-wrapper .name {
    display: inline-block;
    font-weight: bold;
    width: 100%;
    margin: 0.5em 0.25em; }
  .idea-wrapper .json, .idea-wrapper .group {
    display: none; }
  .idea-wrapper .delete {
    position: absolute;
    top: 0;
    right: 5px;
    color: red;
    transition: 0.1s ease; }
    .idea-wrapper .delete:hover {
      transform: scale(1.5); }

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  height: 0;
  font-family: 'Poppins', sans-serif; }
  body a, html a {
    color: #1b93e1;
    text-decoration: none;
    position: relative; }
    body a:after, html a:after {
      position: absolute;
      content: '';
      height: 1px;
      width: 0;
      background: #1b93e1;
      bottom: -2px;
      left: 0;
      transition: 0.2s ease-in-out; }
    body a:hover:after, html a:hover:after {
      width: 100%; }
    body a > *, html a > * {
      display: inline-block; }

.page {
  position: relative;
  height: 100%;
  width: 100%; }
