.page > .content{
	width: calc(100% - 70px);
	height:100vh;
	position: absolute;
	top: 0;
	right: 0;
	background: $lightgrey;
	overflow-y: scroll;
	&.focus-tree{
		background: $nfbackground;
		overflow-x: scroll;
	}
	& > .container{
		padding: 1rem;
	}
	@media screen and (min-width: $tablet){
		width: calc(100% - 235px);
	}
}

.menu_toggled{
	.content{
		width: calc(100% - 235px);
		@media screen and (min-width: $tablet){
			width: calc(100% - 70px); 
		}
	}
}

.body-main{
	background: $white;
	border-bottom: 2px solid $blue;
	padding: 1rem;
	margin-bottom: 0.5rem;

	small{
		display: inline-block;
		line-height: 1.25;
	}

	&.content-left{
		display: flex;
		.left{
			width: 74.5%;
		}
		.right{
			width: 24.5%;
			margin-left: 1%;
		}
		@media screen and (max-width: $tablet){
			flex-wrap: wrap;
			.left{
				width: 100%;
			}
			.right{
				width: 100%;
				margin-left: 0;
			}
		}
	}

	&.content-right{
		display: flex;
		.right{
			width: 74.5%;
		}
		.left{
			width: 24.5%;
			margin-right: 1%;
		}
		@media screen and (max-width: $tablet){
			flex-wrap: wrap;
			.right{
				width: 100%;
			}
			.left{
				width: 100%;
				margin-right: 0;
			}
		}
	}
}

.quickedit{
	color: $blue;
}

.stepped{
	.step{
		display: none;
	}
	
	.stepper{
		display: flex;
		> * {
			cursor: pointer;
			text-align: center;
			transition: 0.2s ease-in-out;
		}
		.prev{
			width: 49%;
			background: $lightgrey;
			color: $grey;
			border: 3px solid $grey;
			margin-right: 2%;
			&:hover{
				background: $grey;
				color: $lightgrey;
			}
		}
		.next{
			width: 49%;
			color: $blue;
			border: 3px solid $blue;
			&:hover{
				background: $blue;
				color: #fff;
			}
		}
	}

	&[data-step="1"]{
		.step_1{
			display: block;
		}
		.prev{
			opacity: 0;
		}
	}

	&[data-is-last="1"]{
		.next{
			opacity: 0;
		}
	}

	.hidden_step{
		display: none;
	}
}

.generic_button{
	border: 3px solid $blue;
	color: $blue;
	display: inline-block;
	max-width: 150px;
	width: 100%;
	text-align: center;
	padding: 10px 15px;
	transition: 0.2s ease-in-out;
	&:after{
		display: none;
	}
	&:hover{
		text-decoration: none;
		background: $blue;
		color: #fff;
	}

	&.red{
		border-color: red;
		color: red;
		width: auto;
		&:hover{
			color: white;
			background: red;
		}
	}
	&.delete{
		padding-right: 22px;
	}
}



.generic_form{
	textarea, select, input{
		width: 100%;
	}
	select{
		padding: 5px;
	}
	textarea{
		min-height: 3rem;
		max-width: 100%;
		box-sizing: border-box;
	}
	input{
		padding:0.25rem;
		box-sizing: border-box;
	}
	input[type="color"]{
		width: 40px;
		padding: 0;
		display: inline-block;
		margin-right: 10px;
	}
}

.colour-viewer{
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 1px solid black;
	vertical-align: bottom;
}

.newLayers > div{
	border-top: 1px solid black;
}

.grid{
	display: grid;
	display: -ms-grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  	-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  	-ms-grid-rows: 1fr; /* Because IE is a butt */
  	&.with-gap{
	  	grid-gap: 20px;
	  	/* Simulate grid gap for IE */
	  	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	  		> * {
	  			margin-left: 10px;
	  			margin-right: 10px;
	  			&:first-child{
	  				margin-left: 0;
	  			}
	  			&:last-child{
	  				margin-right: 0;
	  			}
	  		}
	  		&.invert{
	  			> * {
		  			margin-left: 10px;
		  			margin-right: 10px;
		  			&:first-child{
		  				margin-right: 0;
		  			}
		  			&:last-child{
		  				margin-left: 0;
		  			}
		  		}
	  		}
	  	}
	}

  	@include generateGridColumns();
  	@include generateGridSpan();
}

.flag-selector{
	display: inline-block;
	input{
		display: none;
		&:checked ~ img{
			background: $blue;
			border-color: $darkblue;
		}
	}
	img{
		border: 1px solid $grey;
	}
}

.searched_states{
	cursor: pointer;
}

.colour-picker{
	display: flex;
	margin-bottom: 20px;
	.sliders{
		width: 100%;
		margin-right: 20px;

		.ui-slider{
			border: 1px solid $grey;
			background: transparent;
			border-radius: 0;

			& + .ui-slider{
				margin-top: 10px;
			}
		}

		.ui-slider-handle{
			background: $grey;
		}

		.ui-slider-range{
			border-radius: 0;
		}
	}
	#swatch {
		width: 60px;
		height: 60px;
		background-image: none;
		border-radius: 0;
		border-color: $grey;
	}
	#red .ui-slider-range { background: #ef2929; }
	#red .ui-slider-handle { border-color: #ef2929; }
	#green .ui-slider-range { background: #8ae234; }
	#green .ui-slider-handle { border-color: #8ae234; }
	#blue .ui-slider-range { background: #729fcf; }
	#blue .ui-slider-handle { border-color: #729fcf; }
	& + input{
		display: none;
	}
}