.map-wrapper{
	position: fixed;
	top: 0;
	display: none;
	
	z-index: 100;
	height: 100%;
	overflow: auto;
	background: lighten($blue,45%);

	width: calc(100% - 65px);
	left: 65px;
	@media screen and (min-width: $tablet){
		width: calc(100% - 230px);
		left: 230px;
	}
	
	.close{
		position: fixed;
		top: 10px;
		right: 20px;
		font-size: 1.5rem;
		color: $blue;
		cursor: pointer;
	}

	svg{
		width: auto;
		height: 100%;
	}

	g[id*="state"]{
		transition: 0.2s ease-in-out;
		cursor: pointer;
		position: relative;
		opacity: 0.25;

		&:hover{
			opacity: 0.1;
		}

		&[data-core-state="true"]{
			opacity: 0.75;
		}
		&[data-control-state="true"]{
			opacity: 1;
		}
	}

	.zoom-options{
		position: fixed;
		bottom: 25px;
		right: 25px;

		div{
			display: flex;
			width: 30px;
			height: 30px;
			align-items: center;
			justify-content: center;
			background: $white;
			cursor: pointer;
			transition: 0.2s ease-in-out;

			&:hover{
				color: $white;
				background: $blue;
			}
		}
	}

	.map-hide{
		position: fixed;
		top: 40px;
		right: 20px;
		width: 220px;
		min-height: 30px;
		border: none;
		background: $white;
		color: $blue;
		padding: 5px 10px;
		z-index: 200;
		border: 1px $blue solid;
	}

	#map-reshow{
		position: fixed;
		top: 70px;
		right: 20px;
		width: 242px;
		display: inline-block;
	}

	.map-inner{
		width: 100%;
		height: 100%;
		overflow: auto;
	}

	.all-states{
		display: none;
	}

	.state-overview{
		position: fixed;
		top: 108px;
		right: 20px;
		z-index: 5;
		width: 350px;
		background: $white;
		display: none;

		.close{
			position: absolute;
			top: 15px;
			right: 15px;
			color: $white;
			cursor: pointer;
			i{
				cursor: pointer;
			}
		}

		.state-name{
			text-align: center;
			color: $white;
			background: $blue;
			padding: 15px 20px;
		}

		.state-info{
			padding-top: 30px;
			.wrapper{
				display: flex;
				padding: 0 15px;
				cursor: pointer;

				.checkbox{
					width: 20px;
					height: 20px;
					border: 1px solid $blue;
					margin-right: 15px;

					&.active{
						background: $blue;
					}
				}


			}

			.generic_button{
				background: none;
				border-left: 0;
				border-right: 0;
				&:hover{
					background: $blue;
				}
			}
		}

		.state-buttons{
			display: flex;

			button{
				width: 50%;
				background: $blue;
				margin: 0;
				padding: 15px;
				color: $white;
				text-align: center;
				display: inline-block;
				border: none;
				transition: 0.2s ease-in-out;
				font-size: 12px;

				&:hover{
					background: $white;
					color: $blue;
				}

				+ button{
					border-left: 1px solid $white;
				}
			}
		}
	}
}

.menu_toggled{
	.map-wrapper{
		width: calc(100% - 230px);
		left: 230px;
		@media screen and (min-width: $tablet){
			width: calc(100% - 65px);
			left: 65px;
		}
	}
}

.custom-upload-wrapper{
	margin: 20px;
	padding: 20px;
	border: 1px solid $blue;
}

.custom-image-divider{
	width: 100%;
	position: relative;
	margin-top: 40px;
	margin-bottom: 40px;
	height: 1px;
	background: $blue;

	&:before,&:after{
		position: absolute;
		left: 50%;
		width: 210px;
		text-align: center;
		z-index: 2;
		padding: 5px;
		background: white;
	}

	&:before{
		transform: translateX(-50%) translateY(-30px);
		content: 'All of your custom images';
	}

	&:after{
		transform: translateX(-50%) translateY(-2px);
		content: 'Resized to required size';
		font-size: 12px;
	}
}