.sidebar-menu{
	background: $grey;
	width: 65px;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh; 
	z-index: 999;
	@media screen and (min-width: $tablet){
		width: 230px;
	}
	.toggle_menu{
		background: $blue;
		color: #fff;
		padding: 0.5rem 0;
		font-size: 1.5rem;
		cursor: pointer;
		.fa{
			display: block;
		}
	}

	nav{
		a{
			text-decoration: none;
			color: #fff;
		}
		& > ul{
			list-style: none;
		    margin: 0;
		    padding: 0;
		    margin-bottom: 20px;
		    li{
		    		text-decoration: none;
					color: #fff;
		    	    position: relative;
				    margin: 0;
				    border-bottom: 1px ridge rgba(255, 255, 255, 0.04);
				    padding: 0.5rem 1rem;
				    transition: 0.2s ease-in-out;
				    display: flex;
				    cursor: pointer;
				    i,.avatar{
				    	margin-right: 1.5rem;
				    	font-size: 1.25rem;
				    	margin-top: 0.15rem;
				    	@media screen and (max-width: $tablet){
				    		margin: 0 auto;
				    	}
				    }
				    .notifications{
				    	background: $blue;
				    	padding: 0 7px;
				    	border-radius: 15px;
				    }
				    & > ul{
				    	position: absolute;
				    	left: 100%;
				    	background: $grey;
				    	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
				    	top: -1px;
				    	margin: 0;
				    	padding: 0;
				    	display: none;
				    	min-width: 200px;
				    }

				    &:hover{
				    	background: $blue;
				    	& > ul{
				    		display: block;
				    	}
				    }

		    }
		}
		span{
			display: none;
			@media screen and (min-width: $tablet){
				display: inline;
			}
		}
		.avatar{
			img{
				width: 1.25rem;
			}
		}
	}
}

.menu_toggled{
	.sidebar-menu{
		width: 100%;
		max-width: 230px;
		@media screen and (min-width: $tablet){
			width: 65px;
		}
		nav{
			span{
				display: inline;
				@media screen and (min-width: $tablet){
					display: none; 
				}
			}
			li > i,li >.avatar{
				margin-right: 1.5rem;
		    	font-size: 1.25rem;
		    	margin-top: 0.15rem;
		    	margin-left: 0;
				@media screen and (min-width: $tablet){
					margin: 0 auto;
				}
			}
		}
	}
}

.header-main{
	background: $white;
	border-bottom: 2px solid $blue;
	margin-bottom: 1rem;
	padding: 1rem;
	text-align: center;
}

.popup_message{
	position: fixed;
	top: 0;
	right: 30px;
	width: calc(100% - 125px);
	padding: 5px 10px;
	color: #fff;
	z-index: 9999999;
	@media screen and (min-width: $tablet){
		width: calc(100% - 290px);
	}
	&.success{
		background: #27ae60;	
	}
	&.error{
		background: #c0392b;
	}
	&.info{
		background: $blue;
	}
}

.clickToDismiss{
	cursor: pointer;
}

.menu_toggled{
	.popup_message{
		width: calc(100% - 290px);
		@media screen and (min-width: $tablet){
			width: calc(100% - 125px);
		}
	}
}