@mixin generateGridColumns() {
	$num: 1;
	@while 12 > $num {
	    .grid_start_#{$num} {
	        grid-column: #{$num};
	        -ms-grid-column: #{$num};
	        grid-row: 1;
	        -ms-grid-row: 1;
	    }

	    $num: $num + 1;
	}
}

@mixin generateGridSpan() {
	$num: 1;
	@while 12 > $num {
	    .grid_span_#{$num} {
	        -ms-grid-column-span: #{$num};
	         grid-column-end: span #{$num};
	    }

	    $num: $num + 1;
	}
}

/* Mixin to specify the required number of grid rows so that IE doesn't shit itself if it needs to stack */
@mixin specifiy-grid-rows($columns, $children){
	$current-row: 1;

	@if($columns == 1){
		grid-template-columns: 1fr;
		-ms-grid-columns: 1fr;
		
		$fr: '';
		@for $i from 1 through $children {
	        $fr: $fr + ' auto';

	        $current-row: $current-row + 1;
	    }

		grid-template-rows: unquote($fr);
		-ms-grid-rows: unquote($fr);
		> * {
			&:nth-of-type(1){
				grid-column: 1;
				grid-row: 1;
				-ms-grid-column: 1;
				-ms-grid-row: 1;
			}
			&:nth-of-type(2){
				grid-column: 1;
				grid-row: 2;
				-ms-grid-column: 1;
				-ms-grid-row: 2;
			}
			&:nth-of-type(3){
				grid-column: 1;
				grid-row: 3;
				-ms-grid-column: 1;
				-ms-grid-row: 3;
			}
			&:nth-of-type(4){
				grid-column: 1;
				grid-row: 4;
				-ms-grid-column: 1;
				-ms-grid-row: 4;
			}
			&:nth-of-type(5){
				grid-column: 1;
				grid-row: 5;
				-ms-grid-column: 1;
				-ms-grid-row: 5;
			}
			&:nth-of-type(6){
				grid-column: 1;
				grid-row: 6;
				-ms-grid-column: 1;
				-ms-grid-row: 6;
			}
			&:nth-of-type(7){
				grid-column: 1;
				grid-row: 7;
				-ms-grid-column: 1;
				-ms-grid-row: 7;
			}
			&:nth-of-type(8){
				grid-column: 1;
				grid-row: 8;
				-ms-grid-column: 1;
				-ms-grid-row: 8;
			}
			&:nth-of-type(9){
				grid-column: 1;
				grid-row: 9;
				-ms-grid-column: 1;
				-ms-grid-row: 9;
			}
			&:nth-of-type(10){
				grid-column: 1;
				grid-row: 10;
				-ms-grid-column: 1;
				-ms-grid-row: 10;
			}
			&:nth-of-type(11){
				grid-column: 1;
				grid-row: 11;
				-ms-grid-column: 1;
				-ms-grid-row: 11;
			}
			&:nth-of-type(12){
				grid-column: 1;
				grid-row: 12;
				-ms-grid-column: 1;
				-ms-grid-row: 12;
			}
		}
	}
	@if($columns == 2){
		grid-template-columns: 1fr 1fr;
		-ms-grid-columns: 1fr 1fr;
		$fr: '';
		@for $i from 1 through $children {
	        $fr: $fr + ' auto';

	        $current-row: $current-row + 2;
	    }

		grid-template-rows: unquote($fr);
		-ms-grid-rows: unquote($fr);
		> * {
			&:nth-of-type(1){
				grid-column: 1;
				grid-row: 1;
				-ms-grid-column: 1;
				-ms-grid-row: 1;
			}
			&:nth-of-type(2){
				grid-column: 2;
				grid-row: 1;
				-ms-grid-column: 2;
				-ms-grid-row: 1;
			}
			&:nth-of-type(3){
				grid-column: 1;
				grid-row: 2;
				-ms-grid-column: 1;
				-ms-grid-row: 2;
			}
			&:nth-of-type(4){
				grid-column: 2;
				grid-row: 2;
				-ms-grid-column: 2;
				-ms-grid-row: 2;
			}
			&:nth-of-type(5){
				grid-column: 1;
				grid-row: 3;
				-ms-grid-column: 1;
				-ms-grid-row: 3;
			}
			&:nth-of-type(6){
				grid-column: 2;
				grid-row: 3;
				-ms-grid-column: 2;
				-ms-grid-row: 3;
			}
			&:nth-of-type(7){
				grid-column: 1;
				grid-row: 4;
				-ms-grid-column: 1;
				-ms-grid-row: 4;
			}
			&:nth-of-type(8){
				grid-column: 2;
				grid-row: 4;
				-ms-grid-column: 2;
				-ms-grid-row: 4;
			}
			&:nth-of-type(9){
				grid-column: 1;
				grid-row: 5;
				-ms-grid-column: 1;
				-ms-grid-row: 5;
			}
			&:nth-of-type(10){
				grid-column: 2;
				grid-row: 5;
				-ms-grid-column: 2;
				-ms-grid-row: 5;
			}
			&:nth-of-type(11){
				grid-column: 1;
				grid-row: 6;
				-ms-grid-column: 1;
				-ms-grid-row: 6;
			}
			&:nth-of-type(12){
				grid-column: 2;
				grid-row: 6;
				-ms-grid-column: 2;
				-ms-grid-row: 6;
			}
		}
	}
	@if($columns == 3){
		grid-template-columns: 1fr 1fr 1fr;
		-ms-grid-columns: 1fr 1fr 1fr;
		$fr: '';
		@for $i from 1 through $children {
	        $fr: $fr + ' auto';

	        $current-row: $current-row + 3;
	    }

		grid-template-rows: unquote($fr);
		-ms-grid-rows: unquote($fr);
		> * {
			&:nth-of-type(1){
				grid-column: 1;
				grid-row: 1;
				-ms-grid-column: 1;
				-ms-grid-row: 1;
			}
			&:nth-of-type(2){
				grid-column: 2;
				grid-row: 1;
				-ms-grid-column: 2;
				-ms-grid-row: 1;
			}
			&:nth-of-type(3){
				grid-column: 3;
				grid-row: 1;
				-ms-grid-column: 3;
				-ms-grid-row: 1;
			}
			&:nth-of-type(4){
				grid-column: 1;
				grid-row: 2;
				-ms-grid-column: 1;
				-ms-grid-row: 2;
			}
			&:nth-of-type(5){
				grid-column: 2;
				grid-row: 2;
				-ms-grid-column: 2;
				-ms-grid-row: 2;
			}
			&:nth-of-type(6){
				grid-column: 3;
				grid-row: 2;
				-ms-grid-column: 3;
				-ms-grid-row: 2;
			}
			&:nth-of-type(7){
				grid-column: 1;
				grid-row: 3;
				-ms-grid-column: 1;
				-ms-grid-row: 3;
			}
			&:nth-of-type(8){
				grid-column: 2;
				grid-row: 3;
				-ms-grid-column: 2;
				-ms-grid-row: 3;
			}
			&:nth-of-type(9){
				grid-column: 3;
				grid-row: 3;
				-ms-grid-column: 3;
				-ms-grid-row: 3;
			}
			&:nth-of-type(10){
				grid-column: 1;
				grid-row: 4;
				-ms-grid-column: 1;
				-ms-grid-row: 4;
			}
			&:nth-of-type(11){
				grid-column: 2;
				grid-row: 4;
				-ms-grid-column: 2;
				-ms-grid-row: 4;
			}
			&:nth-of-type(12){
				grid-column: 3;
				grid-row: 4;
				-ms-grid-column: 3;
				-ms-grid-row: 4;
			}
		}
	}
}