$white : #ffffff;
$blue : #1b93e1;
$darkblue : darken($blue, 10);
$grey : #333333;
$lightgrey : #ECF0F1;
$oldpaper : #F8ECC2;

/* Screen Widths */
$mobile : 480px;
$mobilemax : 640px;

$tablet : 720px;
$tabletmax : 1280px;

/* National Focus Specific */
$nfbackground : #22211d;
$nfname : #2d2220;