@import 'settings/settings';
@import 'settings/mixins';

@import 'global/_header';
@import 'global/_body';
@import 'global/_footer';
@import 'global/_components';

@import 'layouts/_users';
@import 'layouts/_mods';
@import 'layouts/_national-focus';
@import 'layouts/_events';
@import 'layouts/_forum';
@import 'layouts/_country';
@import 'layouts/_flag';
@import 'layouts/_ideas';


body,html{
	width: 100%;
	height: 100%;
	margin: 0;
	height: 0;
	font-family: 'Poppins', sans-serif;

	a{
		color: $blue;
		text-decoration: none;
		position: relative;
		&:after{
			position: absolute;
			content: '';
			height: 1px;
			width: 0;
			background: $blue;
			bottom: -2px;
			left: 0;
			transition: 0.2s ease-in-out;
		}
		&:hover{
			&:after{
				width: 100%;
			}
		}
		& > *{
			display: inline-block;
		}
	}
}

.page{
	position: relative;
	height: 100%;
	width: 100%;
}