.country{
	border: 1px solid $nfbackground;
	border-bottom: 0;
	&.content.edit{
		height: calc(100vh - 1px);
		overflow: auto;
	}
	
	&-header{
		display: flex;
		background: $nfbackground;
		height: 25px;
	}
	&-flag{
		height: 52px;
		width: 82px;
		background: white;
		border: 5px solid $nfbackground;
		position: relative;
		&:after{
			content: '';
			position: absolute;
			right: -35px;
			bottom: -5px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 38px 30px 0 0px;
			border-color: $nfbackground transparent transparent transparent;
		}
	}
	&-popup{
		background: $nfbackground;
		width: 100%;
		max-width: 500px;
		padding: 0 10px;
		position: relative;
		height: calc(100% - 125px);
		top: 35px;
		left: 0;
		overflow: auto;
		display: inline-block;
		.close-bar{
			text-align: right;
			color: white;
			font-size: 16px;
		}

		.loader{
			color: white;
			font-size: 20px;
		}
	}
	&-leader{
		display: inline-block;
		width: 150px;
		.picture{
			width: 150px;
			height: 190px;
			background: white;
			cursor: pointer;
			background-position: center;
			background-repeat: no-repeat;
		}
		.name{
			text-align: center;
			padding: 5px 10px;
			color: white;
			box-sizing: border-box;
			background: rgba(255,255,255,0.1);
			border: 0;
			width: 100%;
		}
		&_side{
			display: inline-block;
			width: calc(100% - 160px);
			margin-left: 5px;
			vertical-align: top;

			.support{
				color: white;

				input{
					background: rgba(255,255,255,0.1);
					width: auto;
					padding: 5px 10px;
					padding-left: 20px;
					text-align: center;
					border: none;
					color: white;
				}
			}
		}
	}
	&-focus{
		width: 100%;
		background: white;
		text-align: center;
		padding: 18px 0;
	}
	&-spirits{
		width: 100%;
		background: white;
		text-align: center;
		padding: 18px 0;
		margin-top: 10px;
	}
	&-tabs{
		display: flex;
		& + .country-tabs{
			border-top: 1px solid $grey;
		}
		.country-tab{
			width: 100%;
			padding: 5px;
			font-size: 14px;
			text-align: center;
			border-right: 1px solid $grey;
			cursor: pointer;
			&:last-child{
				border-right: 0;
			}
			&:hover,&.active{
				background: $blue;
				color: $white;
			}
		}
	}
	&-ideas{
		& > .row{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding: 10px 0;
			&-label{
				color: $white;
				padding: 5px 10px;
				margin-top: 10px;
				display: inline-block;
				border-bottom: 1px solid $white;
			}
		}

		&-select{
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: space-between;
		}
	}
	&-idea{
		display: inline-flex;
		width: 55px;
		height: 55px;
		border-radius: 50%;
		background-position: center;
		background-color: $white;
		background-repeat: no-repeat;
		margin-right: 10px;
		cursor: pointer;
		justify-content: center;
		align-items: center;
		&.economy{
			background-image: url('/media/get/hoi4/ideas/not_people/idea_civilian_economy.png');
		}
		&.mobilization{
			background-image: url('/media/get/hoi4/ideas/not_people/idea_volunteer_only.png');
		}
		&.trade{
			background-image: url('/media/get/hoi4/ideas/not_people/idea_generic_export_focus.png');
		}
		&-icon{
			width: calc((100% / 6) - 6px);
			cursor: pointer;
		}
	}

	&-leaders{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
	}
	&-leader-icon{
		width: 32%;
		cursor: pointer;
		margin-bottom: 10px;
	}

}


.country-ideas-info{
	display: flex;
	.left{
		width: 70px;
		.image{
			width: 100%;
			height: 70px;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
}

.country-extra-stuff{
	display: inline-block;
	max-width: calc(100% - 530px);
	margin-left: 4px;
	vertical-align: top;
	position: relative;
	top: 35px;
	width: 100%;
	height: calc(100% - 125px);
	overflow: auto;
}

.country-box{
	background: white;
	padding: 5px 10px;
	max-height: 200px;
	overflow: auto;

	& + .country-box{
		margin-top: 10px;
	}
}

.country-save,.country-edit{
	position: fixed;
	bottom: 10px;
	right: 10px;
	background: $blue;
	color: white;
	padding: 5px 10px;
	border-radius: 5px;
	transition: 0.2s ease-in-out;
	cursor: pointer;

	&:hover{
		background: white;
		color: $blue;
	}
}

.removeState{
	color: red;
	cursor: pointer;
}

.country-trait,.country-research{
	cursor: pointer;

	.effect{
		textarea{
			border: none;
			resize: none;
			cursor: pointer;
		}
	}
}

#country-military{
	.field-marshal{
		display: none;
	}

	&[data-type="ground"]{
		.field-marshal{
			display: block;
		}
	}
	.navy-only{
		display: none;
	}
	&[data-type="navy"]{
		.navy-only{
			display: inline;
			& + span{
				display: none;
			}
		}
	}
}

.general-icon{
	width: 35px;
}

.readOnly .removeState{
	display: none;
}

.readOnly .generic_button{
	display: none;
}

.existing-idea{
	display: inline-block;
	width: 60px;
	height: 68px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	text-align: right;
	i{
		cursor: pointer;
		color: red;
		display: inline-block;
		margin-right: 8px;
	}
}

.division-editor{
	position: fixed;
	top: 50%;
	left: 50%;
	width: 100%;
	max-width: 900px;
	height: 100%;
	max-height: 700px;
	margin: 10px;
	transform: translateX(-50%) translateY(-50%);
	background: $white;
	padding: 20px;
}