.event{
	&-json{
		display: none;
	}
	&-country{
		display: inline-flex;
		max-width: 400px;
		width: 100%;
		padding: 10px 25px;
		border: 1px solid $grey;
		border-radius: 5px;
		background: $oldpaper;
		vertical-align: top;
		margin-left: 25px; 
		.event-gfx{
			width: 33%;
			margin-left: -50px;
			margin-right: 50px;
			img{
				width: 100%;
			}
		}
		.event-content{
			width: 67%; 
			.event-title{
				color: $grey;
				font-size: 1.5rem;
			}
		}
	}
	&-wrapper{
		margin-bottom:5px;
	}
	&-news{
		padding: 10px 25px;
		border: 1px solid $grey;
		border-radius: 5px;
		background: $oldpaper;
		max-width: 400px;
		width: 100%;
		display: inline-block;
		vertical-align: top;
		.event-gfx{
			img{
				width: 100%;
			}
		}
		.event-title{
			text-align: center;
			font-size: 1.5rem;
			color: $grey;
		}
		.event-description{
			color: $grey;
		}
	}
}
.event-outcome-trigger{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background: $white;
	padding: 10px;
	z-index: 10;
}
.event-outcome, .event-outcome-add{
	position: relative;
	background: $lightgrey;
	border-radius: 5px;
	padding: 10px 25px;
	margin-top: 10px;
	border: 1px solid $grey;
	cursor: pointer;
	text-align: center;
	&:hover{
		.event-outcome-trigger{
			display: block;
		}
	}
}

.outcome_json{
	display: none;
}

.event{
	&-delete,&-edit{
		width: 0;
		overflow: hidden;
		position: absolute;
		top: 0;
		right: 0;
		height: 24px;
		display: flex;
		align-items: center;
		color: #FFFFFF;
		font-size: 16px;
		transition: 0.2s ease-in-out;
		justify-content: center;
		cursor: pointer;
	}
	&-delete{
		background: red;
		max-width: 24px;
		z-index: 3;
	}
	&-edit{
		background: $blue;
		z-index: 2;
	}
}

.event-outcome:hover{
	overflow: hidden;
	.event{
		&-delete,&-edit{
			width: 100%;
		}
	}
}
.event-wrapper{
	> .event{
		&-delete,&-edit{
			height: 36px;
			font-size: 24px;
		}
		&-delete{
			max-width: 36px;
		}
	}
}
.event-wrapper:hover{
	> .event{
		&-delete,&-edit{
			width: 100%;
		}
	}
}

.event-wrapper{
	position: relative;
}

