.flag-steps{
	.colour-picker{
		margin-bottom: 0;
	}
	.generic_button{
		cursor: pointer;
	}
	> form{
		> div{
			display: none;
			&:nth-child(2){
				display: block;
			}
		}
	}
	> div{
		display: none;
	}
}

.flag-choice{
	display: flex;
	justify-content: space-between;
	.generic_button{
		width: 31%;
	}
}

.flag-options{
	position: relative;
	font-size: 0;
	> label{
		&:first-child{
			font-size: 1rem;
		}
	}
	.flag-selector{
		img{
			display: none;
		}
		input:checked ~ img{
			display: block;
		}
	}
	&:after{
		content: '';
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&.active{
		&:after{
			pointer-events: none;
		}

		.flag-selector{
				img{
					display: block;
				}
			}
	}
}



.flag-build{
	.copyable{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		> *{
			width: 100%;
			&.flag-50{
				width: calc(50% - 10px);
			}
		}
	}
}