.forum{
	&-block{ 
		background: $white;
		box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
		border: 1px solid $grey;
		transition: 0.2s ease-in-out;
		margin-bottom: 1rem;
		overflow: hidden;
		&:hover{
			background: darken($white, 5%);
			border-radius: 0 2rem 2rem 0; 
		}
		.header{
			background: $blue;
			padding: 0.25rem;
			padding-right: 1.5rem;
			a{
				color: $white;
			}
		}
		.description{
			padding: 0.25rem;
			padding-right: 1.5rem;
			color: $grey;
			&.post{
				display: flex;
				.left{
					width: 80%;
				}
				.right{
					width: 20%;
					color: $blue;
					text-align: right;
				}
				@media screen and (max-width: $tablet){
					flex-wrap: wrap;
					.left{
						width: 100%;
					}
					.right{
						width: 100%;
					}
				}
			}
			a{
				color: $grey;
				text-decoration: none;
			}
		}
	}
	&-post{
		display: flex;
		background: white;
		margin-bottom: 0.5rem;
		position: relative;
		.user-info{
			width: 200px;
			border: none;
			border-right: 1px solid $grey;
			height: 100%;
			padding: 0.5rem;
			margin: 0;
			text-align: center;
			display: block;
			.post-avatar{
			    max-width: 140px;
			    display: block;
			    width: 100%;
			    height: auto;
			    margin: 0 auto;
			}
			.banned{
				color: red;
			}
		}
		.post-info{
			width: calc(100% - 200px);
			height: 100%;
			padding-bottom: 2rem;
			.post-title{
				background: $blue;
				padding: 0.25rem;
				color: $white;
				display: flex;
				h1{
					font-size: 1.25rem;
					margin: 0;
					width: 75%;
				}
				form{
					width: 75%;
				}
				input{
					width: 100%; 
					padding: 0.5rem;
					border: 1px solid $grey;
					margin-bottom: 0.5rem;
					transition: 0.2s ease-in-out;
					box-sizing: border-box;
					max-height: 2rem; 
					&:focus{
						outline: none;
						box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
					}
				}
				.post-options{
					width: 25%;
					text-align: right;
					a{
						background: $white;
						color: $grey;
						border: 1px solid $grey;
						transition: 0.2s ease-in-out;
						padding: 0.2rem 0.75rem;
						margin-left: 0.2rem;
						display: inline-block;
						text-decoration: none;
						&:hover{
							background: $grey;
							color: $white; 
						}
					}
				}
				@media screen and (max-width: $tablet){
					flex-wrap: wrap;
					h1{
						width: 100%;
					}
					.post-options{
						width: 100%;
					}
				}
			}
			.post-content{
				padding: 1rem 0.25rem;
			}
			.edit-post{
				background: $white;
				color: $grey;
				border: 1px solid $grey;
				transition: 0.2s ease-in-out;
				padding: 0.2rem 0.75rem;
				margin-left: 0.2rem;
				display: inline-block;
				text-decoration: none;
				&:hover{
					background: $grey;
					color: $white; 
				}
				&-button{
					text-align: right;
					margin-right: 1rem;
					@media screen and (min-width: $tablet){
						position: absolute;
						right:2rem;
						bottom: 1rem;
						margin-right: 0;
					}
				}
			}
		}
		@media screen and (max-width: $tablet){
			flex-wrap: wrap;
			.user-info{
				order: 2;
				width: 100%;
				border-right: none;
				border-top: 1px solid $grey;
			}
			.post-info{
				width: 100%;
			}
		}
	}

	.post-pagination{
		text-align: right;
		.text,.number{
			background: $white;
			color: $grey;
			border: 1px solid $grey;
			transition: 0.2s ease-in-out;
			padding: 0.2rem 0.75rem;
			margin-left: 0.2rem;
			display: inline-block;
			text-decoration: none;
			&:hover{
				background: $grey;
				color: $white;
			}
			&.active{
				background: $grey;
				color: $white;
			}
		}
	}

	&-post-title{
		margin-bottom: 0.5rem;
		background: $blue;
		padding: 0.25rem;
		color: $white;
		h1{
			font-size: 1.25rem;
			margin: 0;
		}
	}

	.breadcrumb{
		padding: 0.5rem;
		background: $grey;
		color: $white;
		margin-top: -0.5rem;
		margin-bottom: 0.5rem;
		a{
			color: $white;
		}
	}

	.post-comment{
		background: $white;
		.post-title,.post-content{
			p{
				margin: 0;
				padding: 0.5rem
			}
			input{
				width: 100%;
				padding: 0.5rem;
				border: 1px solid $grey;
				margin-bottom: 0.5rem;
				transition: 0.2s ease-in-out;
				box-sizing: border-box;
				&:focus{
					outline: none;
					box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
				}
			}
		}
		.trumbowyg-box{
			margin: 0 auto;
		}
		.trumbowyg-button-pane{
			background: darken($white, 10%);
		}
		.trumbowyg-modal-box {
			.trumbowyg-modal-submit{
				background: $blue;
				color: $white;
				transition: 0.2s ease-in-out;
				&:hover{
					background: darken($blue, 10%);
				}
			}
			.trumbowyg-modal-reset{
				background: $grey;
				color: $white;
				transition: 0.2s ease-in-out;
				&:hover{
					background: darken($grey, 10%);
				}
			}
		}
		.submit-post{
			background: $blue;
			color: $white;
			transition: 0.2s ease-in-out;
			border: none;
			display: block;
			padding: 0.5rem;
			width: 100%; 
			&:hover{
				background: darken($blue, 10%);
			}
		}
	}

	&-category{
		background: $white;
		border-bottom: 4px solid $blue;
		color: $grey;
		padding: 0.5rem;
		margin-bottom: 0.5rem;
		h3{
			margin: 0;
		}
	}

	&-header{
		margin: 0.5rem 0;
		border: 1px solid $grey;
		background: white;
		text-align: right;
		padding: 0.5rem;
		a{
			color: $blue;
			&:visited{
				color: $blue;
			}
		}
	}
}

.forum-category{
	border: 1px solid #ccc;
	margin-bottom: 20px;
	.mobile-header{
		display: none;
	}
	&-title{
		background: $blue;
		color: $white;
		font-size: 15px;
		padding: 3px 5px;
		a{
			color: $white;
		}
	}
	&-description{
		padding: 10px 0;
	}
	&-headers{
		background: $darkblue;
		color: $white;
		.grid > *{
			padding: 2px 5px;
			font-size: 14px;
			border-right: 1px solid #ccc;
			&:last-child{
				border-right: 0;
			}
		}
	}
	&-forums{
		> .grid{
			border-bottom: 1px solid #0d0d0d;
			&:last-child{
				border-bottom: 0;
			}
		}
		.sub-forum-title{
			margin: 0;
			padding: 2px 5px;
			color: $blue;
			font-weight: bold;
			margin-top: 5px;
			a{
				color: $blue;
			}
		}
		.sub-forum-subtitle{
			margin: 0;
			padding: 2px 5px;
			color: $blue;
			font-size: 14px;
		}
		.sub-forum-date{
			margin: 0;
			padding: 2px 5px;
			text-align: right;
			font-size: 12px;
		}
		.sub-forum-description{
			margin: 0;
			padding: 2px 5px;
			font-size: 14px;
		}
		.sub-forum-number{
			padding: 2px 5px;
			font-size: 14px;
			font-weight: bold;
		}
		> .grid > *{
			border-right: 1px solid #0d0d0d;
			&:last-child{
				border-right: 0;
			}
		}
		.sub-forum-subforum{
			display: inline-block;
			color: $blue;
			font-size: 12px;
			width: calc(50% - 10px);
			padding: 2px 5px;
			vertical-align: top;
			&_wrapper{
				font-size: 0;
			}
			small{
				display: inline;
				font-size: 10px;
				color: #ddd;
			}
		}
	}
}

@media screen and (max-width: 1100px){
	.forum-category{
		.mobile-header{
			display: block;
			width: 22.5%;
			margin-right: 1.25%;
			padding-right: 1.25%;
			border-right: 1px solid #0d0d0d;
			font-weight: 600;
		}
		.grid{
			display: block;
			border-bottom: 1px solid #0d0d0d;
			& > *{
				display: flex;
				border-bottom: 1px solid #CCC;
				border-right: none;
			}

		}
		&-headers{
			display: none;
		}
	}
}

@media screen and (max-width: 550px){
	.forum-category{
		.mobile-header{
			display: block;
			width: 100%;
			margin-right: 0;
			padding-right: 0;
			border-right: none;
			border-bottom: 1px solid #0d0d0d;
		}
		.grid{
			& > *{
				flex-wrap: wrap;
				margin-bottom: 15px;
				&:last-child{
					margin-bottom: 0;
				}
			}

		}
	}
}