#idea-popup{
	.option-wrapper{
		display: none;
	}
}

.idea-wrapper{
	display: inline-block;
	width: 100%;
	background: $white;
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
	text-align: center;
	cursor: pointer;
	position: relative;
	@media screen and (min-width: 900px){
		max-width: 120px;
		margin-left: 15px; 
	}
	
	.name{
		display: inline-block;
		font-weight: bold;
		width: 100%;
		margin: 0.5em 0.25em;
	}
	.json,.group{
		display: none;
	}

	.delete{
		position: absolute;
		top: 0;
		right: 5px;
		color: red;
		transition: 0.1s ease;
		&:hover{
			transform: scale(1.5);
		}
	}
}



