.mod{
	&-info{
		display: flex;
		border-bottom: 1px solid $grey;
		padding-bottom: 0.5rem;
		margin-bottom: 0.5rem;
		.image{
			width: 200px;
			margin-right: 1rem;
			img{
				width: 100%;
			}
		}
		.info{
			width: calc(100% - 250px);
		}
		@media screen and (max-width: $tablet){
			flex-wrap: wrap;
			.image{
				width: 100%;
				margin-right: 0;
				img{
					display: block;
					max-width: 150px;
					margin: 0 auto;
				}
			}
			.info{
				text-align: center;
				width: 100%;
			}
		}
	}
}

.response_frame{
	display: none;
}

.add_user_popup{
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	transition: 0.2s ease-in-out;
	background: rgba(0,0,0,0.25);
	align-items: center;
	z-index: 999;
	pointer-events: none;
	* {
		pointer-events: none;
	}
	&.active{
		opacity: 1;
		pointer-events: initial;
		* {
			pointer-events: initial;
		}
	}

	.add_user_box{
		max-width: 500px;
		width: 100%;
		margin: 0 auto;
		padding: 25px;
		background: #fff;
		max-height: 70vh;
		overflow: auto;
	}

	.users_output{
		max-height: 150px;
		overflow-y: scroll;
	}
	.popupClose{
		text-align: right;
		cursor: pointer;
		margin:0;
		margin-bottom: -1rem;
		font-size: 1.25rem;
	}
	h3{
		margin: 0;
		margin-bottom: 0.5rem;
	}
	input{
		width: 100%;
		height: 30px;
		box-sizing: border-box;
	}
}

.addUserToMod,.deleteMod{
	cursor: pointer;
	color: #fff;
	border: 2px solid transparent;
	outline: 0;
	padding: 10px 20px;
	transition: 0.2s ease-in-out;
	display: block;
	max-width: 450px;
	width: 100%;
	margin-top: 15px;
}
.generic_button{
	padding: 10px 20px;
	max-width: 450px;
	margin-top: 15px;
	/* display: block; */
	box-sizing: border-box;
}
.addUserToMod{
	background: #16a085;
	&:hover{
		background: transparent;
		border: 2px solid #16a085;
		color: #16a085;
	}
}
.deleteMod{
	background: #c0392b;
	&:hover{
		background: transparent;
		border: 2px solid #c0392b;
		color: #c0392b;
	}
}

.modlist{
	.mod{
		display: flex;
		margin-bottom: 35px;
		.image{
			width: 80px;
			img{
				width: 100%;
			}
		}
		.info{
			width: calc(100% - 90px);
			margin-left: 10px;
			word-break: break-all;
			h3{
				margin: 0;
			}
		}
	}
}

input,textarea,button,.wrapper{
	&.mod-edit{
		display: none;
	}
}

.mod-countries{

	.country-wrapper{
		display: none;
	}
}