.focus{
	&-user-edit{
		display: inline-block;
		padding: 0.5rem 1rem;
		color: $white;
		background: $blue;
		border-radius: 1rem;
		position: absolute;
		bottom: 1rem;
		right: 1rem;
		text-decoration: none;
		transition: 0.2s ease-in-out;
		&:hover{
			background: darken($blue, 5%);
		}
	}
	&-content{
		position: absolute;
		width: 120px;
		text-align: center;
		&:hover{
			.focus-description{
				display: block;
			}
		}
		img{
			height: 80px;
		}

		&.ui-selected{
			opacity: 0.75;
		}

	}
	&-image{
		max-height: 70px;
		margin-bottom: -0.5rem;
		margin-top: -0.5rem;
	}
	&-title{
		width: 100%;
		padding: 0.25rem 0.5rem;
		color: $white;
		background: $nfname;
		border: 1px solid $grey;
		border-radius: 5px;
		text-align: center;
		margin-left: -0.5rem;
		margin-top: -1rem;
	}
	&-description{
		display: none;
		background: $nfname;
		color: $white;
		border: 1px solid $white;
		border-radius: 5px;
		position: absolute;
		top: 1.5rem;
		left: 75%;
		padding: 0.5rem 1rem;
		width: 200px; 
		text-align: left;
		z-index: 2;
	}
	&-json{
		display: none;
	}
	&-prerequisite{
		position: absolute;
		border-left:1px solid white;
		border-right:1px solid white;
		z-index: -1;
		&.horizontal{
			border-top:1px solid white;
			border-bottom:1px solid white;
			&.or{
				border-top:1px dashed white;
				border-bottom:1px dashed white;
			}
		}
		&.or{
			border-left:1px dashed white;
			border-right:1px dashed white;
		}
		&.mutual{
			border-left:1px solid red;
			border-right:1px solid red;
			border-top:1px solid red;
			border-bottom:1px solid red;
			margin-top: -120px
		}
	}
	&-panel{
		width: 100%;
		max-width: 400px;
		height: 100vh;
		overflow-y: scroll;
		margin-right: 10px;
		&.create-focus{
			width: 300px;
			position: absolute;
			left: calc(50% - 150px);
			top: 10vh;
			height: 80vh;
		}
		.panel-head{
			background: $blue;
			color: $white;
			padding: 0.5rem;
			text-align: center;
			font-size: 1.25rem;
			position: relative;
			.close{
				position: absolute;
				top: 0.5rem;
				right: 1rem;
				font-size: 1.5rem;
				color: #fff;
				cursor: pointer;
			}
		}
		.panel-body{
			background: $white;
			padding: 0.5rem;
			min-height: 100%;
			p{
				margin:0;
			}
		}

		#choosegfx{
			display: none;
			.nficon{
				width: 80px;
			}
		}

		&#focus-builder{
			.panel-body{
				.builder-output{
					border-bottom: 1px solid rgba(0,0,0,0.5);
					padding-right: 5px;
					margin-right: 5px;
					.dragged{
						width: 100%;
						border: 1px dashed $blue;
						min-height: 100px;
						transition: 0.2s ease-in-out;
						&-hover{
							border: 1px solid $blue;
							border-radius: 5px;
							background: rgba(0,0,0,0.2);
							transition: 0.2s ease-in-out;
						}
						&.new-level{
							min-height: 50px;
							border: 1px dashed $blue;
							margin: 10px;
							width: calc(100% - 20px);
						}
						.choose-country,.choose-state{
							cursor: pointer;
							color: $blue;
						}
					}
				}
				.builder-search{
					.default-outcome{
						display: none;
					}
					.search-result{
						border-bottom: 1px solid $grey;
						margin-bottom: 5px;
						padding-bottom: 5px;
						cursor: pointer;
					}
					.builder-example{
						display: none;
						position: relative;
						margin-top: 5px;
						padding-top: 5px;
						cursor: pointer;
						max-height: 150px;
						overflow: auto;
						&:before{
							content: '';
							background: $grey;
							width: 50px;
							top: 0;
							left: 0;
							height: 1px;
							position: absolute;
						}
					}
				}
			}		
		}

		input,textarea,select{
			width: calc(100% - 0.5rem);
			padding:0.25rem;
			box-sizing: border-box;
			&#x,&#y{
				width: 3rem
			}
		}
		textarea{
			height: 80px;
		}
	}

	&-popup{
		&-container{
			position: absolute;
			pointer-events: none;
			z-index: 999;
			width: calc(100vw - 235px);
			height: 100vh;
			display: flex;
			top: 0;
			right: 0;
			@media screen and (max-width: $tablet){
				width: calc(100vw - 70px);
			}

			*{
				pointer-events: auto;
			}

			.focus-panel{
				display: none;
			}
		}
	}
}

.edit-focus{
	background: $blue;
	color: $white;
	padding: 0.25rem 1rem;
	width: 100%;
	margin: 0 -1rem;
	margin-bottom: 1rem;
	display: inline-block;
	text-align: center;
	cursor: pointer;
}

.menu_toggled{
	.focus-popup-container{
		width: calc(100vw - 70px);
		@media screen and (max-width: $tablet){
			width: calc(100vw - 235px);
		}
	}
}

.create-focus{
	textarea, select, input{
		width: 100%;
	}
	select{
		padding: 5px;
	}
	textarea{
		min-height: 3rem;
		max-width: 100%;
		box-sizing: border-box;
	}
	.generic_button{
		max-width: 100%;
	}
}

.focus-tree .add_user_popup{
	position: static;
	background: transparent;
}

.focus-tree{
	z-index: -2;
}

.select-focus{
	cursor: pointer;
}

.addedFocus{
	input{
		display: none;
	}
	i{
		color: red;
		cursor: pointer;
	}
}

.focus-tree-raw{
	&-wrapper{
		position: fixed;
		top: 0;
		right: 0;
		height: 100vh;
	}
	overflow: auto;
	background: #FFFFFF;
	padding: 20px;
	max-width: 500px;
	white-space: pre-wrap;
	max-height: calc(100vh - 40px);
	margin-right: 15px;

	.focus-error, .focus-error-end{
		color: #c0392b;
		font-weight: bold;
		display: block;
	}

	&.closed{
		display: none;
	}
}

.focus-tree-raw-toggle{
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(-90deg);
	padding: 5px 30px;
	left: -50px;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	cursor: pointer;
	background: white;

	.errors{
		position: absolute;
		background: #c0392b;
		color: white;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		align-items: center;
		justify-content: center;
		display: flex;
		top: -10px;
		right: -10px;
		transform: rotate(90deg);

		&:after, &:before{
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			border: 1px solid #c0392b;
			width: 30px;
			height: 30px;
			transform: translateX(-50%) translateY(-50%);
			border-radius: 50%;
			animation: makeObvious 3s infinite;
		}
		&:before{
			animation-delay: 1.5s;
		}
	}

	i{
		display: inline-block;
		transform: rotate(180deg);
	}
}

.closed ~ .focus-tree-raw-toggle{
	left: -70px;

	i{
		transform: none;
	}
}

.focus-tree-raw-preview{
	display: flex;
	flex-wrap: wrap;
	margin: 10px 0;
	> *{
		width: 100%;
	}

	.preview-inner{
		order: 2;
	}
	
	.focus-error{
		order: 1;

		&-end{
			order: 3;
		}
	}
}

@keyframes makeObvious {
	0% {
		width: 30px;
		height: 30px;
		opacity: 1;
	}

	80% {
		width: 50px;
		height: 50px;
		opacity: 0.2;
	}

	100%{
		width: 150px;
		height: 150px;
		opacity: 0;
	}
}

.focus-panel .panel-body .focus_tree_tags{
	cursor: pointer;
	position: relative;
	+ .focus_tree_tags{
		margin-top: 10px;
		padding-top: 10px;
		&:before{
			content: '';
			position: absolute;
			width: 50%;
			top: 0;
			left: 0;
			height: 1px;
			background: $blue;
		}
	}
}