.user{
	&-info{
		display: flex;
		border-bottom: 1px solid $grey;
		padding-bottom: 0.5rem;
		margin-bottom: 0.5rem;
		.image{
			width: 200px;
			margin-right: 1rem;
			img{
				width: 100%;
			}
		}
		.info{
			width: calc(100% - 250px);
		}
		@media screen and (max-width: $tablet){
			flex-wrap: wrap;
			.image{
				width: 100%;
				margin-right: 0;
				img{
					display: block;
					max-width: 150px;
					margin: 0 auto;
				}
			}
			.info{
				text-align: center;
				width: 100%;
			}
		}
	}

	&-mods{
		h2{
			position: relative;
			padding-bottom: 0.5rem;
			margin-bottom: 1.5rem;
			&:after{
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 4rem;
				height: 1px;
				background: $grey;
			}
		}
		.mod a{
			display: flex;
			border-bottom: 1px solid $grey;
			padding-bottom: 0.5rem;
			margin-bottom: 0.5rem;

			.image{
				width: 150px;
				margin-right: 1rem;
				img{
					width: 100%;
				}
			}

			@media screen and (max-width: $tablet){
				flex-wrap: wrap;
				.image{
					width: 100%;
					margin-right: 0;
					img{
						display: block;
						max-width: 150px;
						margin: 0 auto;
					}
				}
				.content{
					text-align: center;
					width: 100%;
				}
			}
		}
	}
}

.login,.register,.forgot-password{
	max-width: 800px;
	margin: 0 auto;
	background: $white;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	header{
		background: $blue;
		color: $white;
		padding: 1rem;
		text-align: center;
		h1{
			font-size: 1.5rem;
		}
	}
	section{
		padding: 1rem;
		input[type="text"],input[type="email"],input[type="password"]{
			width: 100%;
			padding: 0.5rem;
			border: 1px solid $grey;
			margin-bottom: 0.5rem;
			transition: 0.2s ease-in-out;
			box-sizing: border-box;
			&:focus{
				outline: none;
				box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
			}
		}
		button{
			margin-top: 1rem;
			width: 100%;
			display: block;
			padding: 1rem;
			background: $blue;
			color: $white;
			border: 1px solid darken($blue, 5%);
			transition: 0.2s ease-in-out;
			font-size: 1rem;
			box-sizing: border-box;
			&:hover{
				background: darken($blue, 5%);
				border: 1px solid darken($blue, 10%);
				box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
			}
		}
		.forgot-password{
			display: block;
			width: calc(100% - 1rem);
			margin-top: 0.5rem;
			padding: 0.5rem;
			background: $grey;
			color: $white;
			text-align: center;
			transition: 0.2s ease-in-out;
			text-decoration: none;
			&:hover{
				text-decoration: none;
				background: lighten($grey, 10%);
				box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
			}
		}
	}
}

.tab{
	display: inline-block;
	border: 1px solid $grey;
	background: $white;
	padding: 0.5rem 1rem;
	transition: 0.2s ease-in-out;
	color: $grey;
	cursor: pointer;
	&.active{
		background: $grey;
		color: $white;
	}
	&:hover{
		color: $white;
		background: $blue;
	}
	&bed{
		display: none;
		&.active{
			display: block;
		}
	}
}